<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOP-SachDTS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/Content/css/style.min.css" />
      <link rel="stylesheet" href="~/Content/css/animitions.css" />
       <link rel="stylesheet" href="~/Content/css/responsive1.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
   
</head>

<body>
  <!----> 
    <!--thông tin 1-->   
    <div class="contentfirst">
       <div class="nd1">
            <p class="chaomung"> Chào mừng bạn đến với SachDTS 
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16" style="margin-left:5px;margin-bottom:4px;">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                    </svg></p>
       </div>
       <div class="nd2">
            <p  class="sanpham1" style="margin-right:30px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16" style="margin-right:5px;margin-bottom:4px;">
                    <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                </svg> Sản phẩm
            </p>
            <p class="sanpham1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16" style="margin-right:5px;margin-bottom:4px;">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>Hệ thống cửa hàng
            </p>
       </div>
    </div>
  
    <!--end-->
    <!--thông tin 2-->
    <div class="container-fluid" style=" background-color: darkslategray; color: #fff;">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <div class="image1">
                   <!-- <img src="~/Content/images/pngegg.png" class="img-fluid" />-->
                    <h1 style="margin-top:21px;">
                        <a href="/" style="text-decoration:none;color:#fff;font-family:satisfy;">SachDTS</a><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-flower2" viewBox="0 0 16 16">
                            <path d="M8 16a4 4 0 0 0 4-4 4 4 0 0 0 0-8 4 4 0 0 0-8 0 4 4 0 1 0 0 8 4 4 0 0 0 4 4m3-12q0 .11-.03.247c-.544.241-1.091.638-1.598 1.084A3 3 0 0 0 8 5c-.494 0-.96.12-1.372.331-.507-.446-1.054-.843-1.597-1.084A1 1 0 0 1 5 4a3 3 0 0 1 6 0m-.812 6.052A3 3 0 0 0 11 8a3 3 0 0 0-.812-2.052c.215-.18.432-.346.647-.487C11.34 5.131 11.732 5 12 5a3 3 0 1 1 0 6c-.268 0-.66-.13-1.165-.461a7 7 0 0 1-.647-.487m-3.56.617a3 3 0 0 0 2.744 0c.507.446 1.054.842 1.598 1.084q.03.137.03.247a3 3 0 1 1-6 0q0-.11.03-.247c.544-.242 1.091-.638 1.598-1.084m-.816-4.721A3 3 0 0 0 5 8c0 .794.308 1.516.812 2.052a7 7 0 0 1-.647.487C4.66 10.869 4.268 11 4 11a3 3 0 0 1 0-6c.268 0 .66.13 1.165.461.215.141.432.306.647.487M8 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                        </svg>
                    </h1>
                </div>
            </div>
            <div class="col-md-5">
                <div class="navbar__center" style="margin-top:15px;">

                    <form method="get" asp-controller="SanPham" asp-action="Search" class="navbar__search" id="formSearch">
                        <input class="search" id="message" name="search" placeholder="Tìm mẫu sách..." type="text" value="" style="width:420px;">
                       <button class="btn btn-danger" style="margin-left:8px;"> <i class="fa fa-search" id="searchBtn" type="submit"></i></button>
                    </form>
                </div>
            </div>
            <div class="consutant col-md-2" style="margin-top:6px;">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg>
                    Gọi đặt hàng
                </p>
                <p style="margin-left:20px;font-size:15px;">0123.456.789</p>
            </div>
            <div class="consutant col-md-2" style="margin-top:6px;">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg>
                    Gọi tư vấn
                </p>
                <p style="margin-left:10px;font-size:15px;">0123.456.789</p>
            </div>
        </div>
    </div>
    <!--end-->
    <!--content3-->
    <div class="content3" style=" background-color: darkslategray;">
        <div class="row">
            <div class="listdanhmuchoa col-sm-3">
                <a href="" data-toggle="modal" data-target="#Modaldanhmuc">
                    <h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16" style="margin-top:3px;">
                            <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                        </svg>DANH MỤC SẢN PHẨM
                    </h5>
               </a>
            </div>
            <!--modal danh mục-->
            <div class="modal fade" id="Modaldanhmuc" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-position" role="document">
                    <div class="modal-content fade-in-left">
                        <div class="modal-header">
                            <h6 class="modal-title" id="ModalLabel">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                                </svg>
                            </h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           
                            <div class="list-thanhdieuhuong list-group">
                              
                                 <a class="list-group-item list-group-item-action" href="/" style="color:black;font-weight:410;">Trang chủ</a>
                                <a class="list-group-item list-group-item-action" asp-controller="thongtin" asp-action="thongtin" style="color:black;font-weight:410;">Thông tin</a>
                                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="TatCaSanPham" style="color:black;font-weight:410;">Sản phẩm</a>
                                <a class="list-group-item list-group-item-action" asp-controller="Dichvu" asp-action="Index" style="color:black;font-weight:410;">Dịch vụ</a>
                                <a class="list-group-item list-group-item-action" asp-controller="Tintuc" asp-action="Tintuc" style="color:black;font-weight:410;">Tin tức</a>
                                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="salehot" style="color:black;font-weight:410;">Mẫu khuyến mãi</a>
                               
                            </div>
                          <h6 class="sp-block">DANH MỤC SẢN PHẨM</h6>
                          <p class="phanloaihoa">1.Các loại sách</p>
                            <div class="all-danhmucmauhoa">
                                <a asp-controller="SanPham" asp-action="hoahongpage" style="color:black;font-weight:400;">Sách văn học</a>
                            </div>
                            <div class="all-danhmucmauhoa">
                                <a asp-controller="SanPham" asp-action="hoalypage" style="color:black;font-weight:400;">Sách chủ đề</a>
                            </div>
                            <div class="all-danhmucmauhoa">
                                <a asp-controller="SanPham" asp-action="hoasenpage" style="color:black;font-weight:400;">Sách kỹ năng sống</a>
                            </div>
                            <div class="all-danhmucmauhoa">
                                <a asp-controller="SanPham" asp-action="hoacamtupage" style="color:black;font-weight:400;">Sách thiếu nhi</a>
                            </div>
                          <p class="phanloaihoa">2.Chủ đề làm quà tặng</p>
                            <div class="all-danhmucmauhoa">
                                <a asp-controller="SanPham" asp-action="hoacamon" style="color:black;font-weight:400;">Sách cảm ơn</a>
                        </div>
                         <div class="all-danhmucmauhoa">

                                <a asp-controller="SanPham" asp-action="hoasinhnhat" style="color:black;font-weight:400;">Sách sinh nhật</a>
                        </div>
                         <div class="all-danhmucmauhoa">

                                <a asp-controller="SanPham" asp-action="hoasukien" style="color:black;font-weight:400;">Sách sự kiện</a>
                        </div>
                            <div class="all-danhmucmauhoa">

                                <a asp-controller="SanPham" asp-action="hoaquatang" style="color:black;font-weight:400;">Sách quà tặng</a>
                            </div>
                            <div class="all-danhmucmauhoa">

                                <a asp-controller="SanPham" asp-action="hoatonghop" style="color:black;font-weight:400;">Sách tổng hợp</a>
                            </div>
                            <div class="all-danhmucmauhoa">

                                <a asp-controller="SanPham" asp-action="hoanhagiao" style="color:black;font-weight:400;">Sách ngày nhà giáo</a>
                            </div>
                            <p class="creat-accout">Tạo tài khoản ngay để nhận được các khuyến mãi lớn !!</p>
                            

                        </div>
                    </div>
                </div>
            </div>
            <!--end modal-->
            <div class="col-sm-7">

                <nav class="navbar navbar-expand-lg">                 
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  asp-controller="thongtin" asp-action="thongtin">Thông tin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  asp-controller="SanPham" asp-action="TatCaSanPham">Sản phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Dichvu" asp-action="Index">Dịch vụ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  asp-controller="Tintuc" asp-action="Tintuc">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  asp-controller="SanPham" asp-action="salehot">Mẫu khuyến mãi</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!--thanh điều hướng -->
               @* <nav>
        <ul>
                        <li style=" margin:14px; float: left;"><a  class="thanhdieuhuong"   href="/">Trang chủ</a></li>
                        <li style=" margin:14px; float: left;"><a class="thanhdieuhuong" asp-controller="thongtin" asp-action="thongtin">Thông tin</a></li>
                        <li style=" margin:14px; float: left;"><a class="thanhdieuhuong" asp-controller="SanPham" asp-action="TatCaSanPham">Sản phẩm</a></li>
                        <li style=" margin:14px; float: left;"><a class="thanhdieuhuong" asp-controller="Dichvu" asp-action="Index">Dịch vụ</a></li>
                        <li style=" margin:14px; float: left;"><a class="thanhdieuhuong" asp-controller="Tintuc" asp-action="Tintuc">Tin tức</a></li>
                        <li style=" margin:14px; float: left;">
                            <a class="thanhdieuhuong" asp-controller="SanPham" asp-action="salehot">Mẫu khuyến mãi</a>
                        </li>
        </ul>
    </nav> *@
             <!--end --> 
            </div> 
            <div class="col-sm-2" style="margin-top:10px;">
                <div class="navbar__right">
                    <div style="display: flex; align-items: center;">
                         <!------------------------------------>
                        <div class="login" id="loginClick">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="dropdown">
                                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @User.Identity.Name
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="Index" style="color:black;">Dashboard</a>
                                            <div class="dropdown-divider"></div>
                                        }
                                        <a class="dropdown-item" asp-controller="DonHangs" asp-action="Details" style="color:black;">Đơn hàng</a>
                                        <div class="dropdown-divider"></div>
                                        <form asp-controller="Security" asp-action="SignOut" method="post">
                                            <button type="submit" class="dropdown-item" style="border: none; outline: none; background: transparent;">
                                                Đăng xuất &nbsp;<span class="fas fa-sign-out-alt"></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="login">
                                    <a asp-controller="Security" asp-action="SignIn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" style="margin-right:11px;">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                    </a>
                                </div>
                            }
                        </div>

                        <!------------------------------------>
                     @*   <div class="login" id="loginClick">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span style="color:yellow;">
                                    @User.Identity.Name &nbsp;<i class="fa-solid fa-chevron-down"></i>

                                </span>

                                <ul class="login_list">
                                   
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                                    }
                                    <li><a asp-controller="DonHangs" asp-action="Details">Đơn hàng</a></li>
                                    <li>
                                        <form asp-controller="Security" asp-action="SignOut" method="post">
                                            <button type="submit" style="border: none; outline: none; background: transparent;">
                                                Đăng xuất &nbsp;<span class="fas fa-sign-out-alt"></span>
                                            </button>
                                        </form>
                                    </li>

                                </ul>
                            }
                            else
                            {
                                <div class="login">
                                        <a asp-controller="Security" asp-action="SignIn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" style="margin-right:11px;">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
    </svg></a>
                                </div>
                            }
                        </div> *@
                        <!------------------------------------>
                    </div>

                    <a class="navbar__shoppingCart getstarted scrollto active text-white" asp-controller="cart" asp-action="Index" style=" text-decoration:none;color:#fff;">
                       
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
</svg>
                        @using Microsoft.AspNetCore.Http

                        @{
                            HttpContext httpContext = ViewContext.HttpContext;
                            string name = httpContext.Session.GetString("countCart");
                        }

                        @if (String.IsNullOrEmpty(name))
                        {
                            <span style="width:15px;height:13px;">0</span>
                        }
                        else
                        {
                            <span>@name</span>
                        }

                    </a>

                </div>
            </div>
        </div>
    </div>
    <!--end -->
  <!---->






   <!--header  <div class="header">
        <div class="navbar">
            <div class="navbar__left">
                <a asp-controller="SanPham" asp-action="Index" class="navbar__logo"> -->
                  <!--  <img src="~/Content/images/logo.jpg" alt="">-->
                  <!--  <h4 style="color:#ff0c2d;font-weight:850;padding-right:50px;">PETO</h4>
                </a> -->

            @*    <div class="navbar__menu">
                    <i id="bars" class="fa fa-bars" aria-hidden="true"></i>
                    <ul class="navmenu">
                        <li><a href="/">Trang chủ</a></li>

                        <li><a asp-controller="SanPham" asp-action="TatCaSanPham">Sản phẩm</a></li>
                        <li><a asp-controller="Dichvu" asp-action="Index">Dịch vụ</a></li>
                         <li><a asp-controller="thongtin" asp-action="thongtin">Thông tin</a></li>
                         <li><a asp-controller="Tintuc" asp-action="Tintuc">Tin tức</a></li>
                        
                        <li>
                            <a asp-controller="SanPham" asp-action="salehot">Mẫu khuyến mãi</a>
                        </li>
                       
                    </ul>
                </div>

            </div>

            <div class="navbar__center">

                <form method="get" asp-controller="SanPham" asp-action="Search" class="navbar__search" id="formSearch">
                    <input class="search" id="message" name="search" placeholder="Tìm mẫu hoa..." type="text" value="" style="width:420px;"> 
                    <i class="fa fa-search" id="searchBtn" type="submit"></i>
                </form>
            </div>

            <div class="navbar__right">
                <div style="display: flex; align-items: center;">
                    <div class="login" id="loginClick">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span>
                                @User.Identity.Name &nbsp;<i class="fa-solid fa-chevron-down"></i>

                            </span>

                            <ul class="login_list">
                                    <li><a href="#">Thông tin cá nhân</a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                                }
                                <li><a asp-controller="DonHangs" asp-action="Details">Đơn hàng</a></li>
                                <li>
                                    <form asp-controller="Security" asp-action="SignOut" method="post">
                                        <button type="submit" style="border: none; outline: none; background: transparent;">
                                            Đăng xuất &nbsp;<span class="fas fa-sign-out-alt"></span>
                                        </button>
                                    </form>
                                </li>

                            </ul>
                        }
                        else
                        {
                            <div class="login">
                                <a asp-controller="Security" asp-action="SignIn"><i class="fa fa-user"></i></a>
                            </div>
                        }
                    </div>
                </div>

                <a class="navbar__shoppingCart getstarted scrollto active" asp-controller="cart" asp-action="Index" style="font-weight:bold; text-decoration:none">
                    <img src="/Content/images/shopping-cart.svg" style="width: 24px;" alt="">
                    @using Microsoft.AspNetCore.Http

                    @{
                        HttpContext httpContext = ViewContext.HttpContext;
                        string name = httpContext.Session.GetString("countCart");
                    }

                    @if (String.IsNullOrEmpty(name))
                    {
                        <span>0</span>
                    }
                    else
                    {
                        <span>@name</span>
                    }

                </a>

            </div>
        </div>

   <!--header--> </div> *@
   


    <div class="go-to-top"><i class="fas fa-chevron-up"></i></div>

    @RenderBody()

    <!---->
    <div class="dangky-block">
        <div class="row">
            <div class="col-md-4">
                <p class="dangky-element">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16" style="margin-right:6px;">
  <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
</svg>Đăng ký nhận khuyến mãi lớn
                </p>
            </div>
             
            <div class="col-md-4">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16" style="margin-right:6px;">
                        <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
                    </svg>Hỗ trợ / mua hàng :<span style="color:red;">0123.456.789</span>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16" style="margin-right:6px;">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
</svg>Đảm bảo chất lượng / uy tín</p>
            </div>
        </div>
    </div>
    <!---->
    <footer style="margin-top:20px;">
       

        <div class="footer__info">

            <div class="footer__info-content">
                <h5 style="margin-top:13px;">GIỚI THIỆU</h5>
                <p style="margin-top:20px;">Website quản lý, mua bán hoa toàn quốc</p>
                <p>Mua bán uy tín và chất lượng cao</p>
                <p>Tư vấn chọn hoa phù hợp</p>
                <p>Giao hàng nhanh trong ngày</p>
            </div>

            <div class="footer__info-content">
                <h5 style="margin-top:13px;">CHÍNH SÁCH</h5>
                <p style="margin-top:20px;">Chính sách mua hàng</p>
                <p>Chính sách bảo hành</p>
                <p>Chính sách giao hàng</p>
                <p>Chính sách đổi trả</p>
            </div>

            <div class="footer__info-content">
                <h5 style="margin-top:13px;">LIÊN HỆ</h5>
                <p style="margin-top:20px;">Tin Tức</p>
                <p>Hướng dẫn mua hàng</p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16" style="margin-right:6px;">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>Đại Học Thủ Dầu Một
                </p>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16" style="margin-right:6px;">
  <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882zM15 7.383l-4.778 2.867L15 13.117zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765z"/>
</svg> <span style="color:blue;">ShopDTH@gmail.com</span></p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16" style="margin-right:6px;">
  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
</svg> <span style="color:blue;">0123456789</span></p>
            </div>

            <div class="footer__info-content">
                <h5 style="margin-top:13px;">PHẢN HỒI</h5>
                <p style="margin-top:20px;">Góp ý</p>
                <p>Tra cứu mẫu hoa</p>
                <div class="footer__social">
                    <a href="#" target="_blank"><i class="fab fa-facebook-f" style="color:blue;"></i></a>
                    <a href="#"><i class="fab fa-github" style="color:black;"></i></a>
                    <a href="#"><i class="fab fa-google" style="color:red;"></i></a>
                </div>
            </div>

        </div>
        <hr />
        <div class="footer__copyright">
            <center>SHOP BÁN HOA - DTH</center>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/scripts/script.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
   
@await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
</body>
</html>
<style>
    .dangky-block {
        margin-top:25px;
        background-color:#f3f3f3;
        padding:13px 50px;
        text-align:center;
    }
    .phanloaihoa {
        color:green;
    }
    .navbar__right {
        display:flex;
    }
    /*css modal*/
    .sp-block {
        text-align:center;
        margin-top:12px;
    }
   .creat-accout {
       margin-top:10px;
       text-align:center;
       color:grey;
       font-size:13px;
   }
    .all-danhmucmauhoa {
        border-bottom: 1px solid #dddddd;
        margin-bottom: 20px;
        transition: background-color 0.3s, color 0.3s;
    }
  

    .list-thanhdieuhuong {
        transition: background-color 0.3s, color 0.3s;
    }
    .list-thanhdieuhuong:hover {
         background-color: #dddddd;
    }
    .modal-position {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .modal-content {
        height: 100%;
        border-radius: 0px;
    }
    /**/
    .navbar__shoppingCart  span {
        background: var(--mainColor);
        color: #fff;
        position: absolute;
        width: 15px;
        height: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 14px;
        text-align: center;
        border-radius: 50%;
       
    }
    .login_list {
        z-index:1;
    }
    .contentfirst {
        background-color: #49860d;
        color: #fff;
        display:flex;
        justify-content:space-between;     
    }
      .contentfirst p {
          font-size:13px;
          margin-top:12px;
      }
      .nd1 {
          margin-left:31px;
      }
      .nd2 {
          display:flex;
          margin-right:31px;
      }
   
    .content3 a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
    }

    .content3 svg {
        margin-bottom: 6px;
    }

    .content3 h5 {
        padding-top: 12px;
        margin-bottom:1px;
        margin-left: 25px;
        color: #fff;
        font-weight: 500;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}






    .header {
        /* position: -webkit-sticky;*/
    position: sticky;
    z-index: 1;
 /*   display: flex;*/
    justify-content: center;
    top:0px;
 
       
}
  /*  .navbar {
            
         border-radius:0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
        padding: 0 30px;
        height: 90px;
        /*.navbar::before*/
       
    {
        content: unset;
    }

 /*  .navbar__left,
    .navbar__right {
        display: flex;
        align-items: center;
       
    }

    .navbar__center {
        margin: 0 auto;
    }

    .navbar__right {
        margin-left: auto;
    }

    .navbar__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

        .navbar__menu > ul {
            display: flex;
            margin-bottom: 0;

        }
       
            .navbar__menu > ul > li {
                list-style: none;
                padding: 10px;
                font-weight:430;
                text-align: center;
                color:#fff;
            }

                .navbar__menu > ul > li > a {
                    color: #000;
                    text-decoration: none;
                }

                    .navbar__menu > ul > li > a:hover {
                        opacity: 0.7;
                    } */

    .navbar__search {
        display: flex;
        align-items: center;
        position: relative;
    }

    footer {
        background-color: #fff;
    }

    .footer,
    .footer__copyright {
        height: 60px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__title {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
    }

    .footer__copyright {
        background: #fff;
    }

    .footer__info {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 13px;
    }

    .footer__info-content {
        color: black;
        margin-top:20px;
    }

        .footer__info-content > h6 {
           font-weight:480;
            padding: 10px 0;
        }

        .footer__info-content > p {
            line-height: 4px;
            padding: 6px 0;
            font-size:15px;
            font-weight:470;
        }

            .footer__info-content > p > a {
                text-decoration: none;
                color: black;
            }

                .footer__info-content > p > a:hover {
                    text-decoration: underline;
                }

    .col-lg-4 {
        padding: 0;
    }

    .footer__social {
        display: flex;
    }

        .footer__social > a {
            text-decoration: none;
            color: #fff;
        }

            .footer__social > a > i {
                padding: 5px;
                font-size: 22px;
            }

            /**/
   
</style>

