@{
    ViewData["Title"] = "Tintuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ship-header">
    <strong>Giao hoa tận nơi các Quận, Huyện tại Cần Thơ</strong>
    <p><strong>Chuyên viên tư vấn :</strong><span>0123 456 789</span> - <span>0123 456 789</span><strong>(Tư vấn qua Zalo, FaceBook)</strong></p>
</div>
<div class="all-infoshop">
    <div class="row">
        <!---->

        <div class="col-md-9">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:#fff;margin-left:12px;">
                    <li class="breadcrumb-item"><a href="/" style="color:green;">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="color:#ff5622;font-weight:700;">Tin tức</li> <!---->
                </ol>
            </nav>

            <main aria-labelledby="title">

                <!--<h2 id="title">@ViewBag.Title.</h2> -->

                <div class="aboutshop">
                    <h4 style="margin-top:5px;">Xu hướng hoa được yêu thích trong năm 2024</h4>
                    <p style="margin-top:7px;">Hoa tươi là ý tưởng trang trí Tết được yêu thích trong mỗi gia đình vào dịp đặc biệt này. Những bông hoa thơm ngát, đầy màu sắc làm cho không gian trở nên tươi mới và tràn đầy sức sống. Mỗi loại hoa mang theo mình một ý nghĩa đặc biệt, hứa hẹn mang lại nhiều may mắn trong năm mới cho gia chủ. Trong số đó, hoa mai và hoa đào là hai loại hoa nhất định không thể thiếu, đây là những biểu tượng truyền thống của Tết Việt Nam. Ngoài ra, nhiều gia đình còn ưu tiên chọn lựa các loại hoa được coi là biểu tượng của tài lộc và may mắn như hoa đồng tiền, hướng dương, vạn thọ,...</p>
                    <p style="margin-top:7px;">Mâm ngũ quả là một phần không thể thiếu trong phong cách Tết hiện đại, mỗi loại trái cây trong mâm đều mang theo mình một ý nghĩa phong phú và tốt lành trong năm mới. Năm loại quả đại diện cho ngũ hành, mang theo ý nghĩa mong muốn sự thuận lợi và nhiều may mắn cho mọi phương diện trong cuộc sống.</p>
                    <div>
                        <center>
                            <img class="img-responsive" src="~/Content/images/nenall1.jpg" width="85%" />
                        </center>
                    </div>
                    <p style="margin-top:7px;">Bàn thờ gia tiên đóng vai trò quan trọng trong văn hóa Việt Nam, là không gian mà con cháu có dịp thể hiện lòng thành kính và tưởng nhớ đối với ông bà tổ tiên vào những dịp đặc biệt như dịp Tết cổ truyền. Vì thế, việc trang trí và vệ sinh khu vực bàn thờ gia tiên trước Tết không chỉ là một công việc quan trọng mà còn là sự tôn kính đối với truyền thống của gia đình.</p>
                    <p>Bên cạnh chọn những cành hoa tươi thắm, thì những loại cây cảnh cũng là một vật trang trí được ưu lựa chọn cho dịp Tết. Có thể lựa chọn những loại cây quen thuộc như mồng gà, cúc, vạn thọ, hoặc những chậu cảnh như bonsai, quất... Đây không chỉ là cách tạo nên một không gian mát mẻ và bình an yên cho nhà mà còn mang lại lợi ích phong thủy, góp phần đem lại may mắn cho gia chủ.</p>

                </div>
            </main>
        </div>
        <!---->
        <div class="col-md-3">
            <!--tin tức nổi bật-->
            <div class="standout-block">
                <center>
                    <h4 style="margin-top:4px;">BÀI VIẾT NỔI BẬT</h4>
                    <hr />
                </center>
                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post1.png" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatmot", "Tintuc")" style="color:black;">Màu sắc hoa nào sẽ thống trị làng hoa trong năm 2018?</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibathai", "Tintuc")" style="color:black;">Hoa cẩm tú quỳnh – loài hoa đẹp nhất tháng 9 này tỏa hương</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post3.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatba", "Tintuc")" style="color:black;">Điểm danh các xu hướng cắm hoa nổi bật năm 2018</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatbon", "Tintuc")" style="color:black;">Cập nhật những mẫu cắm hoa đang được sao Việt ưa chuộng</a></h6>
                        </div>
                    </div>
                </div>





            </div>
            <!--end-->
            <div class="danhmuc">
                <div class="list-group" style="border-radius:0px;margin-top:7px;">
                    <a href="#" style="color:red;text-align:center;" class="list-group-item list-group-item-action">Danh mục sản phẩm </a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacamon">Hoa cảm ơn</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasinhnhat">Hoa sinh nhật</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasukien">Hoa sự kiện</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatuoi">Hoa tươi</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaquatang">Hoa quà tặng</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatonghop">Hoa tổng hợp</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacaiao">Hoa cài áo</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacodau">Hoa cô dâu</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaphunu">Hoa ngày phụ nữ</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoanhagiao">Hoa ngày nhà giáo</a>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>





<div class="infoshop">
    <div class="row">
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/in1.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Giao hàng cực nhanh</h5>
                        <p>Miễn phí với đơn hàng trị giá trên 800.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info2.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Mua hàng siêu tiết kiệm</h5>
                        <p>Rẻ hơn từ 10% – 30% so với giá thị trường</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info3.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Sản phẩm chính hãng 100%</h5>
                        <p>Sản phẩm được nhập khẩu chính hãng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .alltintuc {
        margin-top: 16px;
    }

    .list-group-item {
        transition: background-color 0.3s, color 0.3s;
    }

        .list-group-item:hover {
            background-color: green;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .danhmuc {
        margin-top: 10px;
        padding: 12px 12px;
    }

        .danhmuc a {
            color: green;
        }

    .standout-block {
        padding: 0 17px;
    }

    .all-noibat {
        margin-top: 15px;
    }

        .all-noibat h6 {
            font-weight: 400;
        }

        .all-noibat img {
            width: 100%;
            height: auto;
            margin-top: 11px;
        }

    .ship-header {
        padding: 26px 0;
        text-align: center;
    }

        .ship-header span {
            font-weight: 700;
            color: red;
            margin: 0 6px;
        }

    .aboutshop {
        padding: 12px 28px;
    }

    .infoshop {
        padding: 20px 20px;
        margin-top: 20px;
    }

    .info1 img {
        width: 100%;
        height: auto;
    }

    .info1 h5 {
        color: green;
    }

    .bannerhoa {
        border-radius: 5px;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .bannerhoa > div {
            font-size: 20px;
        }

</style>



