@{
    ViewData["Title"] = "Tintuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ship-header">
    <strong>Giao sách tận nơi các Quận, Huyện tại Bình Dương</strong>
    <p><strong>Chuyên viên tư vấn :</strong><span>0123 456 789</span> - <span>0123 456 789</span><strong>(Tư vấn qua Zalo, FaceBook)</strong></p>
</div>
<div class="all-infoshop">
    <div class="row">
        <!---->

        <div class="col-md-9">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:#fff;margin-left:12px;">
                    <li class="breadcrumb-item"><a href="/" style="color:green;">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="color:#ff5622;font-weight:700;">Tin tức</li> <!---->
                </ol>
            </nav>

            <main aria-labelledby="title">

                <!--<h2 id="title">@ViewBag.Title.</h2> -->

                <div class="aboutbook">
                    <h4 style="margin-top:5px;">Điểm danh những tựa sách self-help được giới trẻ đặc biệt yêu thích</h4>
                    <div>
                        <center>
                            <img class="img-responsive" src="https://via.placeholder.com/300/ADD8E6/000000?Text=Popular+Self-Help+Book" width="85%" />
                        </center>
                    </div>
                    <p style="margin-top:7px;">Sách self-help tượng trưng cho sự tự lực, phát triển bản thân và tinh thần lạc quan. Phần lớn ý nghĩa của thể loại sách này bắt nguồn từ chính mục đích của nó, chính là sự hướng dẫn – một động lực mạnh mẽ của sự trưởng thành. … Ngoài ra, sách self-help được biết đến là nguồn cảm hứng tích cực đối với nhiều người, làm cho chúng trở thành món quà hoàn hảo để mang lại động lực cho những ai đang tìm kiếm sự thay đổi hoặc đơn giản là cho chính bạn.</p>
                    <p style="margin-top:7px;">Thể loại self-help có nguồn gốc từ những triết lý và phương pháp phát triển cá nhân từ xa xưa, và vào thế kỉ 20 thì những cuốn sách mang tính hệ thống bắt đầu xuất hiện và sau đó lan rộng ra toàn thế giới. Không chỉ là nguồn kiến thức quý báu giúp độc giả định hướng và cải thiện bản thân, mà ngay từ khi ra đời, sách self-help đã được nhiều người tìm đọc vì những lời khuyên giá trị và sự khích lệ mạnh mẽ của nó. Và đến ngày nay, self-help còn được chọn làm biểu tượng cho hành trình hoàn thiện bản thân đầy ý nghĩa đối với mỗi cá nhân.</p>
                    <p style="margin-top:7px;">Và, nội dung những trang sách chứa đựng những bài học và phương pháp rèn luyện như những tia nắng ấm áp, sách self-help luôn khiến người đọc cảm thấy tràn đầy những năng lượng tích cực. Tâm hồn người đọc sẽ luôn hướng về sự tiến bộ, và cuộc sống của họ sẽ không bao giờ chứa đựng sự trì trệ.</p>
                    <p style="margin-top:7px;">Chính vì vậy, sách self-help thích hợp để bày tỏ sự quan tâm và khích lệ trong các dịp đặc biệt, cũng như những lúc muốn truyền tải thông điệp về sự lạc quan và vươn lên.</p>
                    <p style="margin-top:7px;">Cuối cùng, một thông điệp cực kì ý nghĩa mà sách self-help mang đến chính là: “Stand tall and follow your goals. Focus on your strengths and don’t let anyone discourage you” – Hãy mạnh mẽ đứng vững và theo đuổi mục tiêu của bạn. Tập trung vào những điểm mạnh của bạn và đừng để cho bất cứ ai làm bạn nản lòng.</p>
                </div>
            </main>
        </div>
        <!---->
        <div class="col-md-3">
            <!--tin tức nổi bật-->
            <div class="standout-block">
                <center>
                    <h5 style="margin-top:4px;">BÀI VIẾT NỔI BẬT</h5>
                    <hr />
                </center>
                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post1.png" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatmot", "Tintuc")" style="color:black;">Sách nào sẽ thống trị làng sách trong năm 2025?</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibathai", "Tintuc")" style="color:black;">Sách kỹ năng sống – Hỗ trợ bạn trong những lúc cần thiết</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post3.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatba", "Tintuc")" style="color:black;">Điểm danh các xu hướng cắm sách nổi bật năm 2025</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatbon", "Tintuc")" style="color:black;">Cập nhật những mẫu sách đang được sao Việt ưa chuộng</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <!--end-->
            <div class="danhmuc">
                <div class="list-group" style="border-radius:0px;margin-top:7px;">
                    <a href="#" style="color:red;text-align:center;" class="list-group-item list-group-item-action">Danh mục sản phẩm </a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacamon">Sách cảm ơn</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasinhnhat">Sách sinh nhật</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasukien">Sách sự kiện</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaquatang">Sách quà tặng</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatonghop">Sách tổng hợp</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoanhagiao">Sách ngày nhà giáo</a>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>





<div class="infoshop">
    <div class="row">
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/in1.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Giao hàng cực nhanh</h5>
                        <p>Miễn phí với đơn hàng trị giá trên 800.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info2.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Mua hàng siêu tiết kiệm</h5>
                        <p>Rẻ hơn từ 10% – 30% so với giá thị trường</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info3.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Sản phẩm chính hãng 100%</h5>
                        <p>Sản phẩm được nhập khẩu chính hãng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .alltintuc {
        margin-top: 16px;
    }

    .list-group-item {
        transition: background-color 0.3s, color 0.3s;
    }

        .list-group-item:hover {
            background-color: green;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .danhmuc {
        margin-top: 10px;
        padding: 12px 12px;
    }

        .danhmuc a {
            color: green;
        }

    .standout-block {
        padding: 0 17px;
    }

    .all-noibat {
        margin-top: 15px;
    }

        .all-noibat h6 {
            font-weight: 400;
        }

        .all-noibat img {
            width: 100%;
            height: auto;
            margin-top: 11px;
        }

    .ship-header {
        padding: 26px 0;
        text-align: center;
    }

        .ship-header span {
            font-weight: 700;
            color: red;
            margin: 0 6px;
        }

    .aboutshop {
        padding: 12px 28px;
    }

    .infoshop {
        padding: 20px 20px;
        margin-top: 20px;
    }

    .info1 img {
        width: 100%;
        height: auto;
    }

    .info1 h5 {
        color: green;
    }

    .bannerhoa {
        border-radius: 5px;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .bannerhoa > div {
            font-size: 20px;
        }

</style>


