@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/Content/scripts/zoomsl.min.js"></script>

<div class="ship-header">
    <strong>Giao hoa tận nơi các Quận, Huyện tại Cần Thơ</strong>
    <p><strong>Chuyên viên tư vấn :</strong><span>0123 456 789</span> - <span>0123 456 789</span><strong>(Tư vấn qua Zalo, FaceBook)</strong></p>
</div>
<div class="all-infoshop">
    <div class="row">
        <!---->

        <div class="col-md-9">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:#fff;margin-left:12px;">
                    <li class="breadcrumb-item"><a href="/" style="color:green;">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="color:#ff5622;font-weight:700;">Thông tin</li> <!---->
                </ol>
            </nav>

            <main aria-labelledby="title">
               
                <!--<h2 id="title">@ViewBag.Title.</h2> --> 

                <div class="aboutshop">
                    <strong> Hoa sinh nhật là biểu tượng của sự tôn trọng và lời chúc mừng đến đối phương. Bởi thế, hoa sinh nhật đóng vai trò vô cùng quan trọng gắn kết tình cảm với nhau. Tuy nhiên, không phải ai cũng biết cách lựa hoa sinh nhật và những điều cần lưu ý khi lựa hoa. Hãy cùng hoa đẹp 365 tìm hiểu trong bài viết nhé. </strong>
                    <h4 style="margin-top:5px;">Vì sao nên tặng hoa sinh nhật?</h4>
                    <p>Mỗi bó hoa với màu sắc, số lượng khác nhau sẽ gắn với thông điệp gửi tới người nhận. Vì thế, tặng hoa nhân ngày sinh nhật trở nên phổ biến. Tùy vào đối tượng được nhận, hoa sinh nhật sẽ khác nhau. </p>
                    <p>Tặng hoa sinh nhật vừa mang đến niềm vui cho người tặng lẫn người nhận. Những đóa hoa thắm tươi, mùi thơm ngát mang đến cảm giác thoải mái. Hơn nữa, hoa rất phù hợp để tặng những người phụ nữ. Khi tặng những đóa hoa giống như bạn đang tôn vinh vẻ đẹp của người phụ nữ. </p>
                    <div>
                        <center>
                            <img class="img-responsive" src="~/Content/images/minhhoa3.png" width="85%" />
                        </center>
                    </div>
                    <h4 style="margin-top:5px;">Nên mua hoa sinh nhật nào?</h4>
                    <h6 style="margin-top:3px;">Hoa hồng</h6>
                    <p>Hoa hồng là loài hoa được lựa chọn để tặng cho sinh nhật phổ biến nhất. Hoa hồng được mệnh danh là bà hoàng của những loài hoa. Với vẻ đẹp kiêu sa, bông hồng từ lâu đã trở thành hoa sinh nhật dành tặng người yêu, hay những người phụ nữ mà bạn trân quý. </p>
                    <h6 style="margin-top:3px;">Hoa Hướng Dương</h6>
                    <p>Hoa hướng dương cũng là một loài hoa được ưa chuộng để tặng trong ngày sinh nhật. Hoa có màu vàng thể hiện được tình cảm ấm áp của bạn dành cho đối phương. Ngoài ra, hoa hướng dương cũng là biểu tượng cho tình bạn, tình yêu thủy chung gắn kết.</p>
                    <p>Hoa sinh nhật từ những bó hướng dương biểu thị rằng bạn thật sự rất trân trọng mối quan hệ này. Bạn cũng đang khẳng định tình cảm thủy chung của mình dành dành cho đối phương.</p>
                    <p>Ngoài ra, còn rất nhiều loài hoa sinh nhật bạn có thể tặng trong ngày sinh nhật như hoa đồng tiền, hoa cát tường... Mỗi loài hoa đều có ý nghĩa riêng, vì vậy hãy lựa chọn hoa thật sự phù hợp với thông điệp bạn muốn gửi đến đối phương nhé.</p>
                    <h4 style="margin-top:5px;">Các mẫu hoa sinh nhật năm 2024</h4>
                    <h6 style="margin-top:3px;">Bó hoa sinh nhật</h6>
                    <p>Bó hoa sinh nhật là mẫu hoa nhỏ được trang trí, kết hợp với nhiều phụ kiện khác nhau. Do đó, hoa sinh nhật sẽ càng được nổi bật và vô cùng tinh tế. Bó hoa được trang trí thành hình trong, xếp tầng hay hình trái tim phù hợp cho mọi đối tượng. Bó hoa sinh nhật bạn có thể mua ở khắp mọi nơi nhưng nếu bạn muốn có bó hoa theo ý mình thì nên đặt để được như ý muốn.</p>
                    <div>
                        <center>
                            <img class="img-responsive" src="~/Content/uploads/rewiu1.jpg" width="75%" />
                        </center>
                    </div>
                    <h6 style="margin-top:3px;">Giỏ hoa sinh nhật</h6>
                    <p>Giỏ hoa sinh nhật ngày càng được yêu thích bởi sự sang trọng và tiện lợi. Hoa sinh nhật được lựa chọn tỉ mỉ và sắp xếp hợp lý để giỏ hoa luôn đẹp mắt và hiện đại. Giỏ hoa rất phù hợp để tặng cho người thân, bạn bè.</p>
                    <p>Hộp hoa sinh nhật cũng là một trong những mẫu hoa được yêu thích lựa chọn. Lẵng hoa với nhiều cách thiết kế và màu sắc khác nhau luôn thu hút được quý khách hàng. Tuy nhiên, muốn lẵng hoa đẹp và như ý cần phải lựa chọn cơ sở uy tín và chuyên nghiệp.</p>
                    
                    <h6 style="margin-top:3px;">Chọn hoa tươi</h6>
                    <p>Khi chọn hoa sinh nhật hay bất kì cho dịp nào thì điều quan trọng nhất là lựa chọn hoa phải tươi. Bạn cần chọn những bó hoa vẫn vẹn nguyên, không bị dập nát, như vậy hoa mới đẹp và bảo quản lâu. Ngoài ra, khi chọn hoa bạn cần chú ý đến độ nở của hoa. Tốt nhất, bạn nên lựa hoa sinh nhật nở vừa để hoa lâu tàng. </p>
                    <h6 style="margin-top:3px;">Lựa chọn cơ sở bán hoa sinh nhật uy tín</h6>
                    <p>Để có được bó hoa sinh nhật thật xinh đẹp thì điều quan trọng không thể thiếu chính là lựa chọn hoa sinh nhật uy tín. Những shop hoa uy tín, chuyên nghiệp mới có thể mang đến những bó hoa với thông đẹp tốt đẹp nhất.</p>
                
                
                </div>
            </main>
        </div>
        <!---->
        <div class="col-md-3">
            <!--tin tức nổi bật-->
            <div class="standout-block">
                <center>
                    <h4 style="margin-top:4px;">BÀI VIẾT NỔI BẬT</h4>
                    <hr />
                </center>
                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post1.png" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatmot", "Tintuc")" style="color:black;">Màu sắc hoa nào sẽ thống trị làng hoa trong năm 2018?</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibathai", "Tintuc")" style="color:black;">Hoa cẩm tú quỳnh – loài hoa đẹp nhất tháng 9 này tỏa hương</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post3.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatba", "Tintuc")" style="color:black;">Điểm danh các xu hướng cắm hoa nổi bật năm 2018</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatbon", "Tintuc")" style="color:black;">Cập nhật những mẫu cắm hoa đang được sao Việt ưa chuộng</a></h6>
                        </div>
                    </div>
                </div>





            </div>
            <!--end-->
            <div class="danhmuc">
                <div class="list-group" style="border-radius:0px;margin-top:7px;">
                    <a href="#" style="color:red;text-align:center;" class="list-group-item list-group-item-action">Danh mục sản phẩm </a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacamon">Hoa cảm ơn</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasinhnhat">Hoa sinh nhật</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasukien">Hoa sự kiện</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatuoi">Hoa tươi</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaquatang">Hoa quà tặng</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatonghop">Hoa tổng hợp</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacaiao">Hoa cài áo</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacodau">Hoa cô dâu</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaphunu">Hoa ngày phụ nữ</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoanhagiao">Hoa ngày nhà giáo</a>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>





<div class="infoshop">
    <div class="row">
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/in1.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Giao hàng cực nhanh</h5>
                        <p>Miễn phí với đơn hàng trị giá trên 800.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info2.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Mua hàng siêu tiết kiệm</h5>
                        <p>Rẻ hơn từ 10% – 30% so với giá thị trường</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info3.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Sản phẩm chính hãng 100%</h5>
                        <p>Sản phẩm được nhập khẩu chính hãng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .list-group-item {
        transition: background-color 0.3s, color 0.3s;
    }

        .list-group-item:hover {
            background-color: green;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .danhmuc {
        margin-top: 10px;
        padding: 12px 12px;
    }

        .danhmuc a {
            color: green;
        }

    .standout-block {
        padding: 0 17px;
    }

    .all-noibat {
        margin-top: 15px;
    }

        .all-noibat h6 {
            font-weight: 400;
        }

        .all-noibat img {
            width: 100%;
            height: auto;
            margin-top: 11px;
        }

    .ship-header {
        padding: 26px 0;
        text-align: center;
    }

        .ship-header span {
            font-weight: 700;
            color: red;
            margin: 0 6px;
        }

    .aboutshop {
        padding: 12px 28px;
    }

    .infoshop {
        padding: 20px 20px;
        margin-top: 20px;
    }

    .info1 img {
        width: 100%;
        height: auto;
    }

    .info1 h5 {
        color: green;
    }

    .bannerhoa {
        border-radius: 5px;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .bannerhoa > div {
            font-size: 20px;
        }

</style>

