@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/Content/scripts/zoomsl.min.js"></script>

<div class="ship-header">
    <strong>Giao hoa tận nơi các Quận, Huyện tại Cần Thơ</strong>
    <p><strong>Chuyên viên tư vấn :</strong><span>0123 456 789</span> - <span>0123 456 789</span><strong>(Tư vấn qua Zalo, FaceBook)</strong></p>
</div>
<div class="all-infoshop">
    <div class="row">
        <!---->

        <div class="col-md-9">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:#fff;margin-left:12px;">
                    <li class="breadcrumb-item"><a href="/" style="color:green;">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="color:#ff5622;font-weight:700;">Thông tin</li> <!---->
                </ol>
            </nav>

            <main aria-labelledby="title">
               
                <!--<h2 id="title">@ViewBag.Title.</h2> -->

                <div class="aboutshop">
                    <h4 style="margin-top:5px;">Ý nghĩa của các loại hoa hồng</h4>
                    <div class="alltintuc">
                        <p>Trong ngày lễ tình nhân hay mỗi dịp kỉ niệm tình yêu, hoa hồng là một món quà không thể thiếu. Bởi lẽ đó là loại hoa tượng trưng cho tình yêu được nhiều người biết đến nhất trên thế giới, là loại hoa ngọt ngào, nồng thắm mà tình yêu đã len lỏi vào từng cánh hoa, nhị hoa và cả hương thơm dịu nhẹ phảng phất…</p>
                        <p>Mỗi màu sắc hoa hồng lại mang đến một ý nghĩa biểu đạt khác nhau, vì vậy bạn hãy cùng <strong>PeTose</strong> tìm hiểu xem bó hoa mình tặng mang thông điệp gì nhé:</p>
                        <div>
                            <center>
                                <img class="img-responsive" src="~/Content/images/minhhoa1.jpg" width="85%" />
                            </center>
                        </div>
                        <br />

                        <p><strong>Hoa hồng đỏ:</strong> tượng trưng cho một tình yêu nồng cháy và lãng mạn. Hoa hồng đỏ đã có từ rất lâu đời, trải qua nhiều nền văn hóa – cả phương tây và phương đông.Nhưng ở bất kì đâu, nó cũng luôn là loài hoa được yêu thích nhất, và biểu tượng cho một thứ tình cảm vô cùng thiêng liêng: Tình yêu.</p>
                        <p><strong>Hoa hồng trắng:</strong> tượng trưng cho sự ngây thơ, duyên dáng và sự cảm thông. Hồng trắng không chỉ biểu tượng cho một tình yêu thuần khiết, cao thượng mà mặt khác, nó còn là loài hoa dành để bày tỏ lời xin lỗi đến người yêu nếu chẳng may bạn có mắc lỗi lầm.</p>
                        <p><strong>Hoa hồng vàng:</strong> Có lẽ đây là loài hoa làm người nhận khá đau đầu bởi ý nghĩa khá đa dạng của nó: Hoa hồng vàng không chỉ tượng trưng cho một tình yêu kiêu sa đầy rực rỡ, mà nó còn là loài hoa của tình bạn, thể hiện sự quan tâm và tiến triển trong mối quan hệ, chẳng hạn như: “anh quan tâm đến em” hoặc “hãy nhớ đến anh”. Tặng một bó hồng vàng có thể là mừng ngày khởi đầu, và cả mừng ngày trở về. Đôi khi,hồng vàng lại là một lời bày tỏ sự ghen tuông, tình yêu giảm sút, và sự phản bội. Bên cạnh đó, hoa hồng vàng cũng là loài hoa lý tưởng để dành tặng mẹ và bà, bởi lẽ nó còn có ý nghĩa của sự biết ơn và tôn kính.</p>
                        <p><strong>Hoa hồng phớt: </strong>Màu hồng phớt nhẹ nhàng của hoa hồng ngụ ý về sự bắt đầu của một tình yêu đầy mơ mộng, lãng mạn và dịu dàng. Bên cạnh đó, nó còn thể hiện một hạnh phúc tròn đầy với lời nhắn nhủ: “Hãy tin anh nhé! ”</p>
                        <p><strong>Hoa Hồng Phấn :</strong>Màu hồng phấn dịu nhẹ của hoa mang đến thông điệp về sự trìu mến, về một tình yêu lãng mạn và nhẹ nhàng.</p>
                        <p><strong>Hoa hồng cam:</strong> Thể hiện sự nhiệt tình và đam mê cháy bỏng. Màu cam đầy rực rỡ thể hiện một tình yêu nồng nhiệt nhưng cũng hòa lẫn với sự ghen tuông. Hay một ý nghĩa khác, nó là cầu nối giữa tình bạn và tình yêu (bởi sự hòa trộn giữa vàng và đỏ) và ngụ ý rằng “tôi tự hào về bạn”.</p>
                        <p><strong>Hoa hồng xanh:</strong> tượng trưng cho một tình yêu bất diệt. Người ta hay gọi là tình yêu bất diệt</p>
                        <p><strong>Hoa hồng tỉ muội:</strong> Đúng như cái tên của hoa, hồng tỉ muội tượng trưng cho tình chị em thắm thiết. Cho tình cảm gia đình. Bày tỏ sự biết ơn, yêu thương trìu mến. Và nếu người được tặng là một chàng trai, thông điệp được trao gửi ở đây chính là: Bạn là một đứa em ngoan.</p>

                    </div>
                </div>
            </main>
        </div>
        <!---->
        <div class="col-md-3">
            <!--tin tức nổi bật-->
            <div class="standout-block">
                <center>
                    <h4 style="margin-top:4px;">BÀI VIẾT NỔI BẬT</h4>
                    <hr />
                </center>
                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post1.png" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatmot", "Tintuc")" style="color:black;">Màu sắc hoa nào sẽ thống trị làng hoa trong năm 2018?</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibathai", "Tintuc")" style="color:black;">Hoa cẩm tú quỳnh – loài hoa đẹp nhất tháng 9 này tỏa hương</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post3.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatba", "Tintuc")" style="color:black;">Điểm danh các xu hướng cắm hoa nổi bật năm 2018</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatbon", "Tintuc")" style="color:black;">Cập nhật những mẫu cắm hoa đang được sao Việt ưa chuộng</a></h6>
                        </div>
                    </div>
                </div>





            </div>
            <!--end-->
            <div class="danhmuc">
                <div class="list-group" style="border-radius:0px;margin-top:7px;">
                    <a href="#" style="color:red;text-align:center;" class="list-group-item list-group-item-action">Danh mục sản phẩm </a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacamon">Hoa cảm ơn</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasinhnhat">Hoa sinh nhật</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasukien">Hoa sự kiện</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatuoi">Hoa tươi</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaquatang">Hoa quà tặng</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatonghop">Hoa tổng hợp</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacaiao">Hoa cài áo</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacodau">Hoa cô dâu</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaphunu">Hoa ngày phụ nữ</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoanhagiao">Hoa ngày nhà giáo</a>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>





<div class="infoshop">
    <div class="row">
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/in1.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Giao hàng cực nhanh</h5>
                        <p>Miễn phí với đơn hàng trị giá trên 800.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info2.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Mua hàng siêu tiết kiệm</h5>
                        <p>Rẻ hơn từ 10% – 30% so với giá thị trường</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info3.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Sản phẩm chính hãng 100%</h5>
                        <p>Sản phẩm được nhập khẩu chính hãng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .list-group-item {
        transition: background-color 0.3s, color 0.3s;
    }

        .list-group-item:hover {
            background-color: green;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .danhmuc {
        margin-top: 10px;
        padding: 12px 12px;
    }

        .danhmuc a {
            color: green;
        }

    .standout-block {
        padding: 0 17px;
    }

    .all-noibat {
        margin-top: 15px;
    }

        .all-noibat h6 {
            font-weight: 400;
        }

        .all-noibat img {
            width: 100%;
            height: auto;
            margin-top: 11px;
        }

    .ship-header {
        padding: 26px 0;
        text-align: center;
    }

        .ship-header span {
            font-weight: 700;
            color: red;
            margin: 0 6px;
        }

    .aboutshop {
        padding: 12px 28px;
    }

    .infoshop {
        padding: 20px 20px;
        margin-top: 20px;
    }

    .info1 img {
        width: 100%;
        height: auto;
    }

    .info1 h5 {
        color: green;
    }

    .bannerhoa {
        border-radius: 5px;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .bannerhoa > div {
            font-size: 20px;
        }

</style>

