@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/Content/scripts/zoomsl.min.js"></script>

<div class="ship-header">
    <strong>Giao sách tận nơi các Quận, Huyện tại Bình Dương</strong>
    <p><strong>Chuyên viên tư vấn :</strong><span>0123 456 789</span> - <span>0123 456 789</span><strong>(Tư vấn qua Zalo, FaceBook)</strong></p>
</div>
<div class="all-infoshop">
    <div class="row">
        <!---->

        <div class="col-md-9">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:#fff;margin-left:12px;">
                    <li class="breadcrumb-item"><a href="/" style="color:green;">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="color:#ff5622;font-weight:700;">Thông tin</li> <!---->
                </ol>
            </nav>

            <main aria-labelledby="title">
               
                <!--<h2 id="title">@ViewBag.Title.</h2> -->

                <div class="aboutshop">
                   
                    <h4 style="margin-top:5px;">
                        Chính Sách Đổi Trả – Hoàn Trả Của SachDTS
                    </h4>
                    <div class="alltintuc">
                        <p>Chính Sách Đổi trả – Hoàn trả của Dịch Vụ SachDTS. Chúng tôi luôn trân trọng sự tín nhiệm của quý khách dành cho chúng tôi. Chính vì vậy, chúng tôi luôn cố gắng để mang đến quý khách hàng những sản phẩm chất lượng cao và tiết kiệm chi phí.</p>
                        <div>
                            <center>
                                <img class="img-responsive" src="~/Content/images/anhtintuc2.jpg" width="85%" />
                            </center>
                        </div>
                        <br />
                        <p>1 – Trường hợp không liên lạc được với người nhận, người nhận đi vắng: Chúng tôi sẽ lưu lại đơn hàng trong vòng 4 tiếng và tiếp tục liên lạc với cả người tặng và người nhận, sau 4 tiếng nếu vẫn không liên lạc được thì đơn hàng coi như hủy </p>
                        <p>2 – Trường hợp không đúng địa chỉ: chúng tôi sẽ liên lạc lại với người tặng, trong trường hợp địa chỉ mới cách địa chỉ cũ 5km trở lại, chúng tôi sẽ miễn phí giao tới địa chỉ mới, trường hợp xa hơn sẽ tính cước giao hàng.</p>
                        <p>3 – Trường hợp sản phẩm không đúng màu sắc và số lượng, khách hàng có thể hủy đơn hàng, chúng tôi sẽ hoàn tiền 100% đơn hàng lại cho quý khách.</p>
                        <p>4 – Những trường hợp không được đổi trả – hoàn trả:</p>
                        <p>- Người nhận (không phải là người đặt hàng với chúng tôi) không đồng ý nhận ( từ chối nhận điện hoa)</p>
                        <p>- Sai địa chỉ gửi tới nhưng không hoặc chưa cung cấp địa chỉ mới và quá thời gian lưu lại là 4h</p>
                        <p>- Thời gian khiếu nại đơn hàng sau 16h từ khi điện hoa được chuyển phát sẽ không được giải quyết (lý do là vì hoa tươi sau 16h sẽ không còn như thời điểm giao hàng)</p>
                        <p>- Mọi thắc mắc về chính sách đổi trả – hoàn trả xin liên hệ trực tiếp tới SachDTS qua email: SachDTS@gmail.com hoặc số điện thoại 0123-456-789</p>



                    </div>

                   
                </div>
            </main>
        </div>
        <!---->
        <div class="col-md-3">
            <!--tin tức nổi bật-->
            <div class="standout-block">
                <center>
                    <h5 style="margin-top:4px;">BÀI VIẾT NỔI BẬT</h5>
                    <hr />
                </center>
                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post1.png" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatmot", "Tintuc")" style="color:black;">Sách nào sẽ thống trị làng sách trong năm 2025?</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibathai", "Tintuc")" style="color:black;">Sách kỹ năng sống – Hỗ trợ bạn trong những lúc cần thiết</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post3.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatba", "Tintuc")" style="color:black;">Điểm danh các xu hướng cắm sách nổi bật năm 2025</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatbon", "Tintuc")" style="color:black;">Cập nhật những mẫu sách đang được sao Việt ưa chuộng</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <!--end-->
            <div class="danhmuc">
                <div class="list-group" style="border-radius:0px;margin-top:7px;">
                    <a href="#" style="color:red;text-align:center;" class="list-group-item list-group-item-action">Danh mục sản phẩm </a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacamon">Sách cảm ơn</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasinhnhat">Sách sinh nhật</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasukien">Sách sự kiện</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaquatang">Sách quà tặng</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatonghop">Sách tổng hợp</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoanhagiao">Sách ngày nhà giáo</a>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>





<div class="infoshop">
    <div class="row">
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/in1.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Giao hàng cực nhanh</h5>
                        <p>Miễn phí với đơn hàng trị giá trên 800.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info2.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Mua hàng siêu tiết kiệm</h5>
                        <p>Rẻ hơn từ 10% – 30% so với giá thị trường</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info3.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Sản phẩm chính hãng 100%</h5>
                        <p>Sản phẩm được nhập khẩu chính hãng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .list-group-item {
        transition: background-color 0.3s, color 0.3s;
    }

        .list-group-item:hover {
            background-color: green;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .danhmuc {
        margin-top: 10px;
        padding: 12px 12px;
    }

        .danhmuc a {
            color: green;
        }

    .standout-block {
        padding: 0 17px;
    }

    .all-noibat {
        margin-top: 15px;
    }

        .all-noibat h6 {
            font-weight: 400;
        }

        .all-noibat img {
            width: 100%;
            height: auto;
            margin-top: 11px;
        }

    .ship-header {
        padding: 26px 0;
        text-align: center;
    }

        .ship-header span {
            font-weight: 700;
            color: red;
            margin: 0 6px;
        }

    .aboutshop {
        padding: 12px 28px;
    }

    .infoshop {
        padding: 20px 20px;
        margin-top: 20px;
    }

    .info1 img {
        width: 100%;
        height: auto;
    }

    .info1 h5 {
        color: green;
    }

    .bannerhoa {
        border-radius: 5px;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .bannerhoa > div {
            font-size: 20px;
        }

</style>
