@{
    ViewData["Title"] = "Tintuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ship-header">
    <strong>Giao hoa tận nơi các Quận, Huyện tại Cần Thơ</strong>
    <p><strong>Chuyên viên tư vấn :</strong><span>0123 456 789</span> - <span>0123 456 789</span><strong>(Tư vấn qua Zalo, FaceBook)</strong></p>
</div>
<div class="all-infoshop">
    <div class="row">
        <!---->

        <div class="col-md-9">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:#fff;margin-left:12px;">
                    <li class="breadcrumb-item"><a href="/" style="color:green;">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="color:#ff5622;font-weight:700;">Tin tức</li> <!---->
                </ol>
            </nav>

            <main aria-labelledby="title">
               
                <!--<h2 id="title">@ViewBag.Title.</h2> -->

                <div class="aboutshop">
                   
                    <h4 style="margin-top:3px;">Những Câu hỏi thường gặp khi đặt hoa online</h4>
                    <div class="alltintuc">
                        <h6>I.CÁCH THỨC ĐẶT HÀNG VÀ THANH TOÁN</h6>
                        <p>Khi bạn đặt hoa ở PeTose những chưa hiểu hết cách thức đặt hàng, thanh toán……và nhiều vấn đề phát sinh khác. Vậy để cho các bạn hiểu rõ hơn PeTose xin được trả lời một số thắc mắc thường gặp sau:</p>
                        <div>
                            <center>
                                <img class="img-responsive" src="~/Content/images/anhtintuc1.jpg" width="85%" />
                            </center>
                        </div>
                        <br />
                        <strong><i>1. Làm sao để đặt hàng ở PeTose</i></strong>
                        <span>Quý khách có thể đặt hàng theo các cách sau:</span>
                        <p>+ Mua hàng trực tiếp trên Website PeTose</p>
                        <p>+ Có thể đặt mua online phục vụ (24/7)</p>
                        <p>+ Nhắn tin qua Zalo 0123-456-789</p>
                        <p>+ Nhắn tin qua fanpage : PeTose</p>
                        <p>+ Gửi thông tin đơn hàng nội dung đơn hàng qua gmail: PeTose@gmail.com</p>

                        <strong><i>2. Thời gian đặt hàng trước trước khi giao hoa bao lâu thì tốt nhất?</i></strong>
                        <p>Trong tất cả trường hợp, chúng tôi đều khuyến khích bạn nên đặt hoa trước 24h, điều này giúp chúng tôi có thể giúp bạn được tốt hơn. Tuy nhiên, một số trường hợp đột xuất quan trọng và những mẫu hoa đơn giản chúng tôi cũng vẫn có thể chấp nhận các đơn hàng trước 1 đến 2 giờ. Chúng tôi sẽ cố gắng hết sức trong khả năng cho phép để có thể giúp bạn</p>
                        <strong><i>3. Sản phẩm của SHOP có đảm bảo chất lượng và đúng mẫu không?</i></strong>
                        <p>
                            Tất cả các đại lý và nhà cung cấp sản phẩm,dịch vụ đã đươc chọn lọc và có cam kết với <strong>PeTose</strong> để phục vụ các sản phẩm, dịch vụ tốt nhất đến quý khách. Nếu có điều gì không hài lòng, bạn hãy phản hồi cho chúng tôi tại hotline 0123-456-789 Email: PeTose@gmail.com. Chúng tôi luôn lắng nghe và ghi nhận những ý kiến đóng góp của khách hàng.
                        </p>
                        <p>Trong trường hợp thiếu nguyên liệu về hoa, chúng tôi sẽ chủ động liên hệ với quý khách để thông báo và tư vấn phương án thay thế tốt nhất.</p>
                        <strong><i>4. Làm sao để thanh toán cho đơn hàng mua từ <strong>PeTose</strong></i></strong>
                        <p>+ Thanh toán trực tiếp tại cửa hàng</p>
                        <p>+ Thanh toán qua chuyển khoản</p>
                        <h6>II.Những thắc mắc phát sinh trong suốt quá trình thực hiện đơn hàng</h6>
                        <strong><i>5. Nếu có bất kỳ thắc mắc nào phát sinh trong quá trình đặt mua sản phẩm từ PeTose phải làm như thế nào?</i></strong>
                        <p>Gọi trực tiếp qua số điện thoại : 0123-456-789</p>
                        <p>Liên hệ và phản ánh qua địa chỉ email : PeTose@gmail.com</p>
                        <strong><i>6. Thời gian mở cửa và làm việc của PeTose</i></strong>
                        <p>Chúng tôi hoạt động 24/24 để đáp ứng đơn hàng của quý khách.</p>
                        <strong><i>7. Sau khi đặt hàng nhưng có nhu cầu hủy bỏ/thay đổi đơn hàng/hoa không đúng mẫu/hoa hỏng thì phải làm như thế nào?</i></strong>
                        <p>+ Đối với trường hợp hoa không đúng mẫu, hoa hỏng thì bạn có thế trả về và chúng tối sẽ hoàn lại tiền</p>
                        <p>+ Đơn hàng ở tỉnh phải hủy trước 12giờ hành chính.</p>
                        <strong><i>8. Việc gì sẽ bảo đảm cho người nhận được nhận hoa đúng thời gian?</i></strong>
                        <p>Chúng tôi sẽ chụp ảnh thông báo lại khi đã hoàn thành đơn hàng qua email</p>
                        <strong><i>9. Làm thế nào để có thể kiếm tra sản phẩm đã chuyển đến người nhận?</i></strong>
                        <p>Bạn có thể liên lạc với với người nhận và yều cầu chụp hình lại sản phẩm. Trong trường hợp bạn yêu cầu chúng tôi chụp hình và gửi hình lại.</p>
                        <strong><i>PeTose chuyển hoa tới những đâu ?</i></strong>
                        <p>Chuyển hoa tới các tỉnh thành trong cả nước Việt Nam</p>
                    </div>
                </div>
            </main>
        </div>
        <!---->
        <div class="col-md-3">
            <!--tin tức nổi bật-->
            <div class="standout-block">
                <center>
                    <h4 style="margin-top:4px;">BÀI VIẾT NỔI BẬT</h4>
                    <hr />
                </center>
                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post1.png" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6><a href="@Url.Action("noibatmot", "Tintuc")" style="color:black;">Màu sắc hoa nào sẽ thống trị làng hoa trong năm 2018?</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibathai", "Tintuc")" style="color:black;">Hoa cẩm tú quỳnh – loài hoa đẹp nhất tháng 9 này tỏa hương</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post3.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatba", "Tintuc")" style="color:black;">Điểm danh các xu hướng cắm hoa nổi bật năm 2018</a></h6>
                        </div>
                    </div>
                </div>

                <div class="all-noibat">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Content/uploads/post2.jpg" class="img-fluid" />
                        </div>
                        <div class="col-sm-9">
                            <h6> <a href="@Url.Action("noibatbon", "Tintuc")" style="color:black;">Cập nhật những mẫu cắm hoa đang được sao Việt ưa chuộng</a></h6>
                        </div>
                    </div>
                </div>





            </div>
            <!--end-->
            <div class="danhmuc">
                <div class="list-group" style="border-radius:0px;margin-top:7px;">
                    <a href="#" style="color:red;text-align:center;" class="list-group-item list-group-item-action">Danh mục sản phẩm </a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacamon">Hoa cảm ơn</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasinhnhat">Hoa sinh nhật</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasukien">Hoa sự kiện</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatuoi">Hoa tươi</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaquatang">Hoa quà tặng</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatonghop">Hoa tổng hợp</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacaiao">Hoa cài áo</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacodau">Hoa cô dâu</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaphunu">Hoa ngày phụ nữ</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoanhagiao">Hoa ngày nhà giáo</a>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>





<div class="infoshop">
    <div class="row">
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/in1.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Giao hàng cực nhanh</h5>
                        <p>Miễn phí với đơn hàng trị giá trên 800.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info2.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Mua hàng siêu tiết kiệm</h5>
                        <p>Rẻ hơn từ 10% – 30% so với giá thị trường</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info3.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Sản phẩm chính hãng 100%</h5>
                        <p>Sản phẩm được nhập khẩu chính hãng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .alltintuc {
        margin-top:16px;
    }
    .list-group-item {
        transition: background-color 0.3s, color 0.3s;
    }

        .list-group-item:hover {
            background-color: green;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .danhmuc {
        margin-top: 10px;
        padding: 12px 12px;
    }

        .danhmuc a {
            color: green;
        }

    .standout-block {
        padding: 0 17px;
    }

    .all-noibat {
        margin-top: 15px;
    }

        .all-noibat h6 {
            font-weight: 400;
        }

        .all-noibat img {
            width: 100%;
            height: auto;
            margin-top: 11px;
        }

    .ship-header {
        padding: 26px 0;
        text-align: center;
    }

        .ship-header span {
            font-weight: 700;
            color: red;
            margin: 0 6px;
        }

    .aboutshop {
        padding: 12px 28px;
    }

    .infoshop {
        padding: 20px 20px;
        margin-top: 20px;
    }

    .info1 img {
        width: 100%;
        height: auto;
    }

    .info1 h5 {
        color: green;
    }

    .bannerhoa {
        border-radius: 5px;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .bannerhoa > div {
            font-size: 20px;
        }

</style>

