@model IEnumerable<websitehoa.Models.SanPham>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div>
    <center>
        <img class="img-responsive" src="~/Content/images/sale.jpg" width="97%" height="auto" style="margin-top:10px;" />
    </center>
</div>
<br /> *@

<!---->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color:#fff;margin-left:40px;">
        <li class="breadcrumb-item"><a href="/" style="color:green;">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page" style="color:#ff5622;font-weight:700;">Mẫu hoa sen </li> <!---->

    </ol>
</nav>
<!---->
<div class="danhmuchoa">
    <!---->
    <div class="row">
        <div class="col-md-3">
            <!--danh mục mẫu hoa-->
            <div class="list-mauhoa list-group" style="border-radius:0px;margin-left:20px;margin-top:7px;">
                <a href="#" style="color:red;text-align:center;" class="list-group-item list-group-item-action">Lựa chọn mẫu sách</a>

                <a class="list-group-item list-group-item-action" id="mau-hoa-moi" asp-controller="SanPham" asp-action="">Mẫu sách mới</a>
                <!--menu product-->
                <div class="dropdown-content fade-in-right" id="mau-hoa-moi">
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoahongpage">Sách Văn Học</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoalypage">Hoa Ly</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasenpage">Sách Kỹ Năng</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacamtupage">Sách Lịch Sử</a>
                </div>
                <!--end-->

                @* <a class="list-group-item list-group-item-action" id="mau-kieu-hoa" asp-controller="SanPham" asp-action="">Mẫu kiểu hoa</a>
    <!--menu product-->
    <div class="dropdown-content fade-in-right" id="mau-kieu-hoa" style="margin-top:60px;">
        <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoadonpage">Hoa Đơn</a>
        <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoabopage">Hoa Bó</a>
        <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacambinhpage">Hoa Cắm Bình</a>
        <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoalangpage">Hoa Lẵng</a>

    </div> *@
                <!--end-->
                @* <a class="list-group-item list-group-item-action" id="mau-kieu-hoa-khac" asp-controller="SanPham" asp-action="">Mẩu các loại hoa khác</a>
    <!--menu product-->
    <div class="dropdown-content fade-in-right" id="mau-kieu-hoa-khac" style="margin-top:120px;">
        <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoabopage">Mẫu bó hoa lớn</a>
        <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoalangpage">Mẫu giỏ hoa</a>
        <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasukien">Mẫu hoa dịp lễ lớn</a>
        <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacodau">Mẫu hoa cưới</a>

    </div> *@
                <!--end-->
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="salehot">Mẫu khuyến mãi</a>
            </div>

            <!--danh mục sản phẩm-->
            <div class="list-mauhoa list-group" style="border-radius:0px;margin-left:20px;margin-top:7px;">
                <a href="#" style="color:red;text-align:center;" class="list-group-item list-group-item-action">Danh mục sản phẩm</a>
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacamon">Sách cảm ơn</a>
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasinhnhat">Sách sinh nhật</a>
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasukien">Sách sự kiện</a>
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaquatang">Sách quà tặng</a>
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatonghop">Sách tổng hợp</a>
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoanhagiao">Sách ngày nhà giáo</a>
            </div>
            <!--end-->
            <div class="imagedoc">
                <img src="~/Content/uploads/doc2.jpg" class="img-fluid" />
                <p>Gọi ngay <strong style="color:red;">0123.456.789</strong> để được tư vấn khi gặp khó khăn.</p>
            </div>
        </div>

        <!---->
        <div class="col-md-9" style="padding:10px 30px;margin:0 auto;">
            <div class="salef">
                <div class="row" style="margin-top:6px;">
                    @foreach (var item in ViewBag.gethoasen2)
                    {
                        <div class="col-lg-2_4 col-md-3 col-6 post2">
                            <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                                <div class="product">
                                    <div class="product__img">
                                        <img src="@item.Hinh" alt="">
                                    </div>
                                    @if (item.Giamgia == 0 || item.Giamgia == null)
                                    {
                                        <div class="product__sale">
                                            <h6 style="color:#fff;">Mới</h6>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product__sale">
                                            <h6 style="color:#fff;">@item.Giamgia %</h6>
                                        </div>
                                    }
                                    <div class="product__content">
                                        <div class="product__title">
                                            @item.Tensp
                                        </div>
                                        @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                        {
                                            <div class="product__pride-oldPride">
                                                <span class="Price">
                                                    <bdi>
                                                        @string.Format("{0:N0}", item.Giaban)
                                                        <span class="currencySymbol">₫</span>
                                                    </bdi>
                                                </span>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div>
                                    <div class="product__pride-newPride">
                                        <span class="Price">
                                            <bdi>
                                                @string.Format("{0:N0}", item.Giakhuyenmai)
                                                <span class="currencySymbol">₫</span>
                                            </bdi>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!---->

    </div>
</div>



<div class="infoshop">
    <div class="row">
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/in1.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Giao hàng cực nhanh</h5>
                        <p>Miễn phí với đơn hàng trị giá trên 800.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info2.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Mua hàng siêu tiết kiệm</h5>
                        <p>Rẻ hơn từ 10% – 30% so với giá thị trường</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info3.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Sản phẩm chính hãng 100%</h5>
                        <p>Sản phẩm được nhập khẩu chính hãng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 250px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 260px;
    }

    .list-group-item:hover + .dropdown-content {
        display: block;
    }

    .dropdown-content:hover {
        display: block;
    }

    .list-group-item {
        transition: background-color 0.3s, color 0.3s;
    }

        .list-group-item:hover {
            background-color: green;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    /**/
    .danhmuchoa a {
        color: green;
    }

    .imagedoc img {
        width: 100%;
        height: auto;
    }

    .imagedoc {
        padding: 20px 20px;
        margin-top: 15px;
    }

    .infoshop {
        padding: 20px 20px;
        margin-top: 20px;
    }

    .info1 img {
        width: 100%;
        height: auto;
    }

    .info1 h5 {
        color: green;
    }

    .post2 {
        transition: transform 0.3s ease-in-out;
        margin-bottom: 20px;
    }

        .post2:hover {
            transform: scale(1.06);
        }

    .product__sale {
        background-color: red;
        border-radius: 50%;
        padding: 7px 7px;
    }

    .body__mainTitle {
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 30px;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }



        .body__mainTitle ~ p {
            line-height: 3rem;
            width: 80%;
        }
</style>




