@model IEnumerable<websitehoa.Models.SanPham>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--content4--> 
<div class="content4">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group" style="border-radius:0px;margin-left:20px;margin-top:7px;">
                <a href="#" style="color:red;" class="list-group-item list-group-item-action">Khuyến mãi gốc</a>
                  <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoacamon">Sách cảm ơn</a>
                    <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasinhnhat">Sách sinh nhật</a>
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoasukien">Sách sự kiện</a>
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoaquatang">Sách quà tặng</a>
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoatonghop">Sách tổng hợp</a>
                <a class="list-group-item list-group-item-action" asp-controller="SanPham" asp-action="hoanhagiao">Sách ngày nhà giáo</a>
            </div>
                           </div>
                          <div class="col-md-6" style="margin-top:7px;">
                         <div class="image2">
                       <img src="~/content/images/nen1.jpg" alt="anh" class="img-fluid" />
                     </div>
                    <div class="image3">
                   <img src="~/content/images/sale1.png" alt="anh" class="img-fluid" />
                 </div>
                </div>
               <div class="col-md-3">
              <div class="image4" style="margin-right:20px;margin-top:7px;">
                <img src="~/content/images/tieuthuyet1.jpg" alt="anh" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<!--end-->
<div class="content5">
    <center>
        <div class="topbanchay">
            <h4><img src="~/content/images/sale.png" class="img-fluid" />TOP BÁN CHẠY NHẤT</h4>
            <hr />
        </div>
    </center>

                       <div class="allsalehot">
                        <div class="fhoahong active">
                            <div class="row">
                                @foreach (var item in ViewBag.gethoahot)
                                {
                                    <div class="col-lg-2_5 col-md-4 col-6 post2">
                                        <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                                            <div class="product">
                                                <div class="product__img">
                                                    <img src="@item.Hinh" alt="">
                                                </div>
                                                @if (item.Giamgia == 0 || item.Giamgia == null)
                                                {
                                                    <div class="product__sale">
                                                        <h6 style="color:#fff;">Mới</h6>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="product__sale">
                                        <h6 style="color:#fff;">@item.Giamgia %</h6>
                                                    </div>
                                                }
                                                <div class="product__content">
                                                    <div class="product__title">
                                                        @item.Tensp
                                                    </div>

                                                    @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                                    {
                                                        <div class="product__pride-oldPride">
                                                            <span class="Price">
                                                                <bdi>
                                                                    @string.Format("{0:N0}", item.Giaban)
                                                                    <span class="currencySymbol">₫</span>
                                                                </bdi>
                                                            </span>
                                                        </div>
                                                    }

                                                </div>
                                            </div>

                                            <div>
                                                <div class="product__pride-newPride">
                                                    <span class="Price">
                                                        <bdi>
                                                            @string.Format("{0:N0}", item.Giakhuyenmai)
                                                            <span class="currencySymbol">₫</span>
                                                        </bdi>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                }
               
                            </div>
                           
                        </div>                                            
                    </div>
</div>

   
<!--content6-->
<div class="content6">
    <div class="image5">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/uploads/nen3.jpg" class="img-fluid" width="100%" height="auto" />
            </div>
            <div class="anhgioithieu col-md-6">
                <img src="~/Content/uploads/nen7.jpg" class="img-fluid" width="100%" height="auto" />
            </div>
        </div>
    </div>
</div>
<!--end-->
 <!-- MẪU HOA MỚI-->
    <div class="content7" style="margin-top:27px;">
        <div class="row">
            <div class="col-md-2" style="margin-top:1px;">
            <h6 style="text-align: center; background-color: #539414;padding:10px 10px;color:#fff;font-weight:500;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flower1" viewBox="0 0 16 16">
                    <path d="M6.174 1.184a2 2 0 0 1 3.652 0A2 2 0 0 1 12.99 3.01a2 2 0 0 1 1.826 3.164 2 2 0 0 1 0 3.652 2 2 0 0 1-1.826 3.164 2 2 0 0 1-3.164 1.826 2 2 0 0 1-3.652 0A2 2 0 0 1 3.01 12.99a2 2 0 0 1-1.826-3.164 2 2 0 0 1 0-3.652A2 2 0 0 1 3.01 3.01a2 2 0 0 1 3.164-1.826M8 1a1 1 0 0 0-.998 1.03l.01.091q.017.116.054.296c.049.241.122.542.213.887.182.688.428 1.513.676 2.314L8 5.762l.045-.144c.248-.8.494-1.626.676-2.314.091-.345.164-.646.213-.887a5 5 0 0 0 .064-.386L9 2a1 1 0 0 0-1-1M2 9l.03-.002.091-.01a5 5 0 0 0 .296-.054c.241-.049.542-.122.887-.213a61 61 0 0 0 2.314-.676L5.762 8l-.144-.045a61 61 0 0 0-2.314-.676 17 17 0 0 0-.887-.213 5 5 0 0 0-.386-.064L2 7a1 1 0 1 0 0 2m7 5-.002-.03a5 5 0 0 0-.064-.386 16 16 0 0 0-.213-.888 61 61 0 0 0-.676-2.314L8 10.238l-.045.144c-.248.8-.494 1.626-.676 2.314-.091.345-.164.646-.213.887a5 5 0 0 0-.064.386L7 14a1 1 0 1 0 2 0m-5.696-2.134.025-.017a5 5 0 0 0 .303-.248c.184-.164.408-.377.661-.629A61 61 0 0 0 5.96 9.23l.103-.111-.147.033a61 61 0 0 0-2.343.572c-.344.093-.64.18-.874.258a5 5 0 0 0-.367.138l-.027.014a1 1 0 1 0 1 1.732zM4.5 14.062a1 1 0 0 0 1.366-.366l.014-.027q.014-.03.036-.084a5 5 0 0 0 .102-.283c.078-.233.165-.53.258-.874a61 61 0 0 0 .572-2.343l.033-.147-.11.102a61 61 0 0 0-1.743 1.667 17 17 0 0 0-.629.66 5 5 0 0 0-.248.304l-.017.025a1 1 0 0 0 .366 1.366m9.196-8.196a1 1 0 0 0-1-1.732l-.025.017a5 5 0 0 0-.303.248 17 17 0 0 0-.661.629A61 61 0 0 0 10.04 6.77l-.102.111.147-.033a61 61 0 0 0 2.342-.572c.345-.093.642-.18.875-.258a5 5 0 0 0 .367-.138zM11.5 1.938a1 1 0 0 0-1.366.366l-.014.027q-.014.03-.036.084a5 5 0 0 0-.102.283c-.078.233-.165.53-.258.875a61 61 0 0 0-.572 2.342l-.033.147.11-.102a61 61 0 0 0 1.743-1.667c.252-.253.465-.477.629-.66a5 5 0 0 0 .248-.304l.017-.025a1 1 0 0 0-.366-1.366M14 9a1 1 0 0 0 0-2l-.03.002a5 5 0 0 0-.386.064c-.242.049-.543.122-.888.213-.688.182-1.513.428-2.314.676L10.238 8l.144.045c.8.248 1.626.494 2.314.676.345.091.646.164.887.213a5 5 0 0 0 .386.064zM1.938 4.5a1 1 0 0 0 .393 1.38l.084.035q.108.045.283.103c.233.078.53.165.874.258a61 61 0 0 0 2.343.572l.147.033-.103-.111a61 61 0 0 0-1.666-1.742 17 17 0 0 0-.66-.629 5 5 0 0 0-.304-.248l-.025-.017a1 1 0 0 0-1.366.366m2.196-1.196.017.025a5 5 0 0 0 .248.303c.164.184.377.408.629.661A61 61 0 0 0 6.77 5.96l.111.102-.033-.147a61 61 0 0 0-.572-2.342c-.093-.345-.18-.642-.258-.875a5 5 0 0 0-.138-.367l-.014-.027a1 1 0 1 0-1.732 1m9.928 8.196a1 1 0 0 0-.366-1.366l-.027-.014a5 5 0 0 0-.367-.138c-.233-.078-.53-.165-.875-.258a61 61 0 0 0-2.342-.572l-.147-.033.102.111a61 61 0 0 0 1.667 1.742c.253.252.477.465.66.629a5 5 0 0 0 .304.248l.025.017a1 1 0 0 0 1.366-.366m-3.928 2.196a1 1 0 0 0 1.732-1l-.017-.025a5 5 0 0 0-.248-.303 17 17 0 0 0-.629-.661A61 61 0 0 0 9.23 10.04l-.111-.102.033.147a61 61 0 0 0 .572 2.342c.093.345.18.642.258.875a5 5 0 0 0 .138.367zM8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                </svg>MẪU SÁCH MỚI
            </h6>
                <!---->
                <div class="managerhoa">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="theimage">
                                <img src="~/Content/uploads/logo1.png" class="img-fluid" />
                                <a  asp-controller="SanPham" asp-action="hoahongpage" style="font-size:13px;color:green;">Sách văn học</a>
                               <img src="~/Content/uploads/logo1.png" class="img-fluid" />
                               <a  asp-controller="SanPham" asp-action="hoalypage" style="font-size:13px;color:green;">Sách chủ đề</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="theimage">
                               <img src="~/Content/uploads/logo1.png" class="img-fluid" />
                               <a  asp-controller="SanPham" asp-action="hoasenpage" style="font-size:13px;color:green;">Sách kỹ năng sống</a>
                            <img src="~/Content/uploads/logo1.png" class="img-fluid" />
                               <a  asp-controller="SanPham" asp-action="hoacamtupage" style="font-size:13px;color:green;">Sách thiếu nhi</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="image6">
                   <img src="~/content/uploads/logo2.jpg" class="img-fluid" />
                </div>
                <!---->

            </div>
            <div class="col-md-10">
                <!---->
                <div class="allmau">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active text-success" data-toggle="tab" href="#hoahong">Văn học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" data-toggle="tab" href="#hoaly">Lập trình</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link  text-success" data-toggle="tab" href="#sen">Kỹ năng sống</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" data-toggle="tab" href="#tu">Thiếu nhi</a>
                    </li>
                    </ul>
                </div>

                <!-- Tab sản phẩm -->
                <div class="tab-content">
                    <div id="hoahong" class="container tab-pane active">                  
                                   
                        <div class="fhoahong active">
                            <div class="row" style="margin-top:15px;padding:10px 30px;margin:0 auto;">
                            @foreach (var item in ViewBag.gethoahongmau2)
                                {
                                    <div class="col-lg-2_4 col-md-3 col-6 post2">
                                        <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                                            <div class="product">
                                                <div class="product__img">
                                                    <img src="@item.Hinh" alt="">
                                                </div>
                                                @if (item.Giamgia == 0 || item.Giamgia == null)
                                                {
                                                    <div class="product__sale">
                                                        <h6 style="color:#fff;">Mới</h6>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="product__sale">
                                                        <h4>@item.Giamgia %</h4>
                                                    </div>
                                                }
                                                <div class="product__content">
                                                    <div class="product__title">
                                                        @item.Tensp
                                                    </div>

                                                    @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                                    {
                                                        <div class="product__pride-oldPride">
                                                            <span class="Price">
                                                                <bdi>
                                                                    @string.Format("{0:N0}", item.Giaban)
                                                                    <span class="currencySymbol">₫</span>
                                                                </bdi>
                                                            </span>
                                                        </div>
                                                    }

                                                </div>
                                            </div>

                                            <div>
                                                <div class="product__pride-newPride">
                                                    <span class="Price">
                                                        <bdi>
                                                            @string.Format("{0:N0}", item.Giakhuyenmai)
                                                            <span class="currencySymbol">₫</span>
                                                        </bdi>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                }

                            </div>
                        </div>                                            
                    </div>
                    

                    <div id="hoaly" class="container tab-pane fade">                  
                                      
                        <div class="lyfood active">
                           <div class="row" style="margin-top:15px;padding:10px 30px;margin:0 auto;">
                            @foreach (var item in ViewBag.gethoaly2)
                                {
                                    <div class="col-lg-2_4 col-md-3 col-6 post2">
                                        <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                                            <div class="product">
                                                <div class="product__img">
                                                    <img src="@item.Hinh" alt="">
                                                </div>
                                                @if (item.Giamgia == 0 || item.Giamgia == null)
                                                {
                                                    <div class="product__sale">
                                                        <h6 style="color:#fff;">Mới</h6>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="product__sale">
                                                        <h4>@item.Giamgia %</h4>
                                                    </div>
                                                }
                                                <div class="product__content">
                                                    <div class="product__title">
                                                        @item.Tensp
                                                    </div>

                                                    @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                                    {
                                                        <div class="product__pride-oldPride">
                                                            <span class="Price">
                                                                <bdi>
                                                                    @string.Format("{0:N0}", item.Giaban)
                                                                    <span class="currencySymbol">₫</span>
                                                                </bdi>
                                                            </span>
                                                        </div>
                                                    }

                                                </div>
                                            </div>

                                            <div>
                                                <div class="product__pride-newPride">
                                                    <span class="Price">
                                                        <bdi>
                                                            @string.Format("{0:N0}", item.Giakhuyenmai)
                                                            <span class="currencySymbol">₫</span>
                                                        </bdi>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                }

                            </div>
                        </div>                                         
                    </div>
                    


                     <div id="sen" class="container tab-pane fade">
                    <!-- Sản phẩm hoa sen -->
                   
                   
                        <div class="dogfood active">
                            <div class="row" style="margin-top:15px;padding:10px 30px;margin:0 auto;">
                                @foreach (var item in ViewBag.getSPhoasen)
                                {
                                    <div class="col-lg-2_4 col-md-3 col-6 post2">
                                        <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                                            <div class="product">
                                                <div class="product__img">
                                                    <img src="@item.Hinh" alt="">
                                                </div>
                                                @if (item.Giamgia == 0 || item.Giamgia == null)
                                                {
                                                    <div class="product__sale">
                                                        <h6 style="color:#fff;">Mới</h6>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="product__sale">
                                                        <h4>@item.Giamgia %</h4>
                                                    </div>
                                                }
                                                <div class="product__content">
                                                    <div class="product__title">
                                                        @item.Tensp
                                                    </div>

                                                    @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                                    {
                                                        <div class="product__pride-oldPride">
                                                            <span class="Price">
                                                                <bdi>
                                                                    @string.Format("{0:N0}", item.Giaban)
                                                                    <span class="currencySymbol">₫</span>
                                                                </bdi>
                                                            </span>
                                                        </div>
                                                    }

                                                </div>
                                            </div>

                                            <div>
                                                <div class="product__pride-newPride">
                                                    <span class="Price">
                                                        <bdi>
                                                            @string.Format("{0:N0}", item.Giakhuyenmai)
                                                            <span class="currencySymbol">₫</span>
                                                        </bdi>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                }

                            </div>
                        </div>                     
                    </div>
                    

                      <div id="tu" class="container tab-pane fade">
                   
                                     
                        <div class="catfood active">
                        <div class="row" style="margin-top:15px;padding:10px 30px;margin:0 auto;">
                            @foreach (var item in ViewBag.gethoacamtu2)
                                {
                                    <div class="col-lg-2_4 col-md-3 col-6 post2">
                                        <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                                            <div class="product">
                                                <div class="product__img">
                                                    <img src="@item.Hinh" alt="">
                                                </div>
                                                @if (item.Giamgia == 0 || item.Giamgia == null)
                                                {
                                                    <div class="product__sale">
                                                        <h6 style="color:#fff;">Mới</h6>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="product__sale">
                                                        <h4>@item.Giamgia %</h4>
                                                    </div>
                                                }
                                                <div class="product__content">
                                                    <div class="product__title">
                                                        @item.Tensp
                                                    </div>

                                                    @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                                    {
                                                        <div class="product__pride-oldPride">
                                                            <span class="Price">
                                                                <bdi>
                                                                    @string.Format("{0:N0}", item.Giaban)
                                                                    <span class="currencySymbol">₫</span>
                                                                </bdi>
                                                            </span>
                                                        </div>
                                                    }

                                                </div>
                                            </div>

                                            <div>
                                                <div class="product__pride-newPride">
                                                    <span class="Price">
                                                        <bdi>
                                                            @string.Format("{0:N0}", item.Giakhuyenmai)
                                                            <span class="currencySymbol">₫</span>
                                                        </bdi>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                            </div>
                        </div>                                           
                    </div>
                   




                    </div>
            </div>
        </div>
    </div>
    <!--end-->
   

 
<!--CÁC LOẠI HOA-->
<div class="content7" style="margin-top:37px;">
    <div class="row">
        <div class="col-md-2" style="margin-top:1px;">
            <h6 style="text-align: center; background-color: #539414;padding:10px 10px;color:#fff;font-weight:500;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flower1" viewBox="0 0 16 16">
                    <path d="M6.174 1.184a2 2 0 0 1 3.652 0A2 2 0 0 1 12.99 3.01a2 2 0 0 1 1.826 3.164 2 2 0 0 1 0 3.652 2 2 0 0 1-1.826 3.164 2 2 0 0 1-3.164 1.826 2 2 0 0 1-3.652 0A2 2 0 0 1 3.01 12.99a2 2 0 0 1-1.826-3.164 2 2 0 0 1 0-3.652A2 2 0 0 1 3.01 3.01a2 2 0 0 1 3.164-1.826M8 1a1 1 0 0 0-.998 1.03l.01.091q.017.116.054.296c.049.241.122.542.213.887.182.688.428 1.513.676 2.314L8 5.762l.045-.144c.248-.8.494-1.626.676-2.314.091-.345.164-.646.213-.887a5 5 0 0 0 .064-.386L9 2a1 1 0 0 0-1-1M2 9l.03-.002.091-.01a5 5 0 0 0 .296-.054c.241-.049.542-.122.887-.213a61 61 0 0 0 2.314-.676L5.762 8l-.144-.045a61 61 0 0 0-2.314-.676 17 17 0 0 0-.887-.213 5 5 0 0 0-.386-.064L2 7a1 1 0 1 0 0 2m7 5-.002-.03a5 5 0 0 0-.064-.386 16 16 0 0 0-.213-.888 61 61 0 0 0-.676-2.314L8 10.238l-.045.144c-.248.8-.494 1.626-.676 2.314-.091.345-.164.646-.213.887a5 5 0 0 0-.064.386L7 14a1 1 0 1 0 2 0m-5.696-2.134.025-.017a5 5 0 0 0 .303-.248c.184-.164.408-.377.661-.629A61 61 0 0 0 5.96 9.23l.103-.111-.147.033a61 61 0 0 0-2.343.572c-.344.093-.64.18-.874.258a5 5 0 0 0-.367.138l-.027.014a1 1 0 1 0 1 1.732zM4.5 14.062a1 1 0 0 0 1.366-.366l.014-.027q.014-.03.036-.084a5 5 0 0 0 .102-.283c.078-.233.165-.53.258-.874a61 61 0 0 0 .572-2.343l.033-.147-.11.102a61 61 0 0 0-1.743 1.667 17 17 0 0 0-.629.66 5 5 0 0 0-.248.304l-.017.025a1 1 0 0 0 .366 1.366m9.196-8.196a1 1 0 0 0-1-1.732l-.025.017a5 5 0 0 0-.303.248 17 17 0 0 0-.661.629A61 61 0 0 0 10.04 6.77l-.102.111.147-.033a61 61 0 0 0 2.342-.572c.345-.093.642-.18.875-.258a5 5 0 0 0 .367-.138zM11.5 1.938a1 1 0 0 0-1.366.366l-.014.027q-.014.03-.036.084a5 5 0 0 0-.102.283c-.078.233-.165.53-.258.875a61 61 0 0 0-.572 2.342l-.033.147.11-.102a61 61 0 0 0 1.743-1.667c.252-.253.465-.477.629-.66a5 5 0 0 0 .248-.304l.017-.025a1 1 0 0 0-.366-1.366M14 9a1 1 0 0 0 0-2l-.03.002a5 5 0 0 0-.386.064c-.242.049-.543.122-.888.213-.688.182-1.513.428-2.314.676L10.238 8l.144.045c.8.248 1.626.494 2.314.676.345.091.646.164.887.213a5 5 0 0 0 .386.064zM1.938 4.5a1 1 0 0 0 .393 1.38l.084.035q.108.045.283.103c.233.078.53.165.874.258a61 61 0 0 0 2.343.572l.147.033-.103-.111a61 61 0 0 0-1.666-1.742 17 17 0 0 0-.66-.629 5 5 0 0 0-.304-.248l-.025-.017a1 1 0 0 0-1.366.366m2.196-1.196.017.025a5 5 0 0 0 .248.303c.164.184.377.408.629.661A61 61 0 0 0 6.77 5.96l.111.102-.033-.147a61 61 0 0 0-.572-2.342c-.093-.345-.18-.642-.258-.875a5 5 0 0 0-.138-.367l-.014-.027a1 1 0 1 0-1.732 1m9.928 8.196a1 1 0 0 0-.366-1.366l-.027-.014a5 5 0 0 0-.367-.138c-.233-.078-.53-.165-.875-.258a61 61 0 0 0-2.342-.572l-.147-.033.102.111a61 61 0 0 0 1.667 1.742c.253.252.477.465.66.629a5 5 0 0 0 .304.248l.025.017a1 1 0 0 0 1.366-.366m-3.928 2.196a1 1 0 0 0 1.732-1l-.017-.025a5 5 0 0 0-.248-.303 17 17 0 0 0-.629-.661A61 61 0 0 0 9.23 10.04l-.111-.102.033.147a61 61 0 0 0 .572 2.342c.093.345.18.642.258.875a5 5 0 0 0 .138.367zM8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                </svg>CÁC LOẠI SÁCH KHÁC
            </h6>
            <!---->
            <div class="managerhoa">
                <div class="row">
                    <div class="col-md-6">
                        <div class="theimage">
                            <img src="~/Content/uploads/logo1.png" class="img-fluid" />
                            <a asp-controller="SanPham" asp-action="hoasinhnhat" style="font-size:13px;color:green;">Tài chính cá nhân</a>
                            <img src="~/Content/uploads/logo1.png" class="img-fluid" />
                           <a  asp-controller="SanPham" asp-action="salehot" style="font-size:13px;color:green;">Sách tiểu thuyết Việt</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="theimage">
                            <img src="~/Content/uploads/logo1.png" class="img-fluid" />
                            <a asp-controller="SanPham" asp-action="hoacamon" style="font-size:13px;color:green;">Sách tặng cảm ơn</a>
                            <img src="~/Content/uploads/logo1.png" class="img-fluid" />
                            <a asp-controller="SanPham" asp-action="hoasukien" style="font-size:13px;color:green;">Sách tặng Sự kiện</a>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="image6">
                <img src="~/Content/uploads/logo4.jpg" class="img-fluid" />
            </div>
            <!---->

        </div>
        <div class="col-md-10">
            <!---->
            <div class="allmau">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-success" data-toggle="tab" href="#lonlon">Sách tài chính</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" data-toggle="tab" href="#gio">Sách tiểu thuyết </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-success" data-toggle="tab" href="#diple">Sách tặng cảm ơn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" data-toggle="tab" href="#cuoi">Sách tặng Sự kiện</a>
                    </li>
                </ul>
            </div>

            <!-- Tab sản phẩm -->
            <div class="tab-content">
                <div id="lonlon" class="container tab-pane active">
                  
                        <div class="fhoahong active">
                        <div class="row" style="margin-top:15px;padding:10px 30px;margin:0 auto;">
                            @foreach (var item in ViewBag.gethoasinhnhat)
                                {
                                    <div class="col-lg-2_4 col-md-3 col-6 post2">
                                        <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                                            <div class="product">
                                                <div class="product__img">
                                                    <img src="@item.Hinh" alt="">
                                                </div>
                                                @if (item.Giamgia == 0 || item.Giamgia == null)
                                                {
                                                    <div class="product__sale">
                                                        <h6 style="color:#fff;">Mới</h6>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="product__sale">
                                                        <h4>@item.Giamgia %</h4>
                                                    </div>
                                                }
                                                <div class="product__content">
                                                    <div class="product__title">
                                                        @item.Tensp
                                                    </div>

                                                    @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                                    {
                                                        <div class="product__pride-oldPride">
                                                            <span class="Price">
                                                                <bdi>
                                                                    @string.Format("{0:N0}", item.Giaban)
                                                                    <span class="currencySymbol">₫</span>
                                                                </bdi>
                                                            </span>
                                                        </div>
                                                    }

                                                </div>
                                            </div>

                                            <div>
                                                <div class="product__pride-newPride">
                                                    <span class="Price">
                                                        <bdi>
                                                            @string.Format("{0:N0}", item.Giakhuyenmai)
                                                            <span class="currencySymbol">₫</span>
                                                        </bdi>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
               

                <div id="gio" class="container tab-pane fade">
                   
                        <div class="lyfood active">
                        <div class="row" style="margin-top:15px;padding:10px 30px;margin:0 auto;">
                            @foreach (var item in ViewBag.getSPSALE)
                                {
                                    <div class="col-lg-2_4 col-md-3 col-6 post2">
                                        <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                                            <div class="product">
                                                <div class="product__img">
                                                    <img src="@item.Hinh" alt="">
                                                </div>
                                                @if (item.Giamgia == 0 || item.Giamgia == null)
                                                {
                                                    <div class="product__sale">
                                                        <h6 style="color:#fff;">Mới</h6>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="product__sale">
                                                        <h4>@item.Giamgia %</h4>
                                                    </div>
                                                }
                                                <div class="product__content">
                                                    <div class="product__title">
                                                        @item.Tensp
                                                    </div>

                                                    @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                                    {
                                                        <div class="product__pride-oldPride">
                                                            <span class="Price">
                                                                <bdi>
                                                                    @string.Format("{0:N0}", item.Giaban)
                                                                    <span class="currencySymbol">₫</span>
                                                                </bdi>
                                                            </span>
                                                        </div>
                                                    }

                                                </div>
                                            </div>

                                            <div>
                                                <div class="product__pride-newPride">
                                                    <span class="Price">
                                                        <bdi>
                                                            @string.Format("{0:N0}", item.Giakhuyenmai)
                                                            <span class="currencySymbol">₫</span>
                                                        </bdi>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
               


                <div id="diple" class="container tab-pane fade">
                   

                   
                        <div class="dogfood active">
                        <div class="row" style="margin-top:15px;padding:10px 30px;margin:0 auto;">
                            @foreach (var item in ViewBag.gethoacamon)
                                {
                                    <div class="col-lg-2_4 col-md-3 col-6 post2">
                                        <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                                            <div class="product">
                                                <div class="product__img">
                                                    <img src="@item.Hinh" alt="">
                                                </div>
                                                @if (item.Giamgia == 0 || item.Giamgia == null)
                                                {
                                                    <div class="product__sale">
                                                        <h6 style="color:#fff;">Mới</h6>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="product__sale">
                                                        <h4>@item.Giamgia %</h4>
                                                    </div>
                                                }
                                                <div class="product__content">
                                                    <div class="product__title">
                                                        @item.Tensp
                                                    </div>

                                                    @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                                    {
                                                        <div class="product__pride-oldPride">
                                                            <span class="Price">
                                                                <bdi>
                                                                    @string.Format("{0:N0}", item.Giaban)
                                                                    <span class="currencySymbol">₫</span>
                                                                </bdi>
                                                            </span>
                                                        </div>
                                                    }

                                                </div>
                                            </div>

                                            <div>
                                                <div class="product__pride-newPride">
                                                    <span class="Price">
                                                        <bdi>
                                                            @string.Format("{0:N0}", item.Giakhuyenmai)
                                                            <span class="currencySymbol">₫</span>
                                                        </bdi>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
               

                <div id="cuoi" class="container tab-pane fade">

                  
                        <div class="catfood active">
                        <div class="row" style="margin-top:15px;padding:10px 30px;margin:0 auto;">
                            @foreach (var item in ViewBag.getSPNoiBat)
                                {
                                    <div class="col-lg-2_4 col-md-3 col-6 post2">
                                        <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                                            <div class="product">
                                                <div class="product__img">
                                                    <img src="@item.Hinh" alt="">
                                                </div>
                                                @if (item.Giamgia == 0 || item.Giamgia == null)
                                                {
                                                    <div class="product__sale">
                                                        <h6 style="color:#fff;">Mới</h6>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="product__sale">
                                                        <h4>@item.Giamgia %</h4>
                                                    </div>
                                                }
                                                <div class="product__content">
                                                    <div class="product__title">
                                                        @item.Tensp
                                                    </div>

                                                    @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                                    {
                                                        <div class="product__pride-oldPride">
                                                            <span class="Price">
                                                                <bdi>
                                                                    @string.Format("{0:N0}", item.Giaban)
                                                                    <span class="currencySymbol">₫</span>
                                                                </bdi>
                                                            </span>
                                                        </div>
                                                    }

                                                </div>
                                            </div>

                                            <div>
                                                <div class="product__pride-newPride">
                                                    <span class="Price">
                                                        <bdi>
                                                            @string.Format("{0:N0}", item.Giakhuyenmai)
                                                            <span class="currencySymbol">₫</span>
                                                        </bdi>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
               



            </div>
        </div>
    </div>
</div>
<!--end-->


<!--thông tin giới thiệu shop peto-->
<div class="rewiu">
    <div class="row">
       <div class="col-md-6">
            <div class="rewiu1">
                <h5 style="font-weight:700;">Shop DTH - Shop hoa tươi giá rẻ tại Bình Dương</h5>
                <hr />
                <p>SachDTS với tiêu chí chất lượng hàng đầu sẽ mang đến cho khách hàng những mẫu hoa tươi đẹp nhất. Chúng tôi cam kết về dịch vụ hoa tươi:</p>
       <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
</svg>Xác nhận thời gian sau khi đặt hàng</p>

       <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
</svg>Chụp hình trước khi giao hàng
</p>

                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                    </svg>Giao hoa đúng hẹn
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                    </svg>Số lượng đúng và đủ theo thiết kế
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                    </svg>Hoa tươi từ 3 ngày trở lên
                </p>
            </div>
       </div>
       <div class="col-md-6">
           <div class="rewiu1">
               <img src="~/Content/uploads/logo3.jpg" class="img-fluid" />
           </div>
       </div>
    </div>
</div>



<!--end-->

<div class="infoshop">
    <div class="row">
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/in1.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Giao hàng cực nhanh</h5>
                        <p>Miễn phí với đơn hàng trị giá trên 800.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info2.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Mua hàng siêu tiết kiệm</h5>
                        <p>Rẻ hơn từ 10% – 30% so với giá thị trường</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sever-shop col-md-4">
            <div class="info1">
                <div class="row">
                    <div class="imgsever col-md-3">
                        <img src="~/Content/uploads/info3.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h5>Sản phẩm chính hãng 100%</h5>
                        <p>Sản phẩm được nhập khẩu chính hãng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sản phẩm nổi bật -->
<div class="body" style="margin-top:23px;">

    <div class="newpaper-chay">
       <center>
            <h4 class="banchay" style="color:black;font-weight:430;margin-top:7px;">NHỮNG SÁCH ĐANG BÁN CHẠY<img src="~/Content/uploads/logohot.jpg" class="img-fluid" width="5%" height="auto"/></h4>
       </center>
    </div>

    <div class="post-slider2">
        <i class="fa fa-chevron-left prev2" aria-hidden="true"></i>
        <i class="fa fa-chevron-right next2" aria-hidden="true"></i>

        <div class="row" style="padding:10px 25px;">
            <div class="post-wrapper2">
                @foreach (var item in ViewBag.getSPNoiBat)
                {
                    <div class="col-lg-2_5 col-md-4 col-6 post2">
                        <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                            <div class="product">
                                <div class="product__img">
                                    <img src="@item.Hinh" alt="">
                                </div>
                                @if (item.Giamgia == 0 || item.Giamgia == null)
                                {
                                    <div class="product__sale" style="border-radius:30px;color:#fff;">
                                        <h5 style="margin-top:5px;">Mới</h5>
                                    </div>

                                }
                                else
                                {
                                    <div class="product__sale">
                                        <h4>@item.Giamgia %</h4>
                                    </div>
                                }
                                <div class="product__content">
                                    <div class="title">
                                        @item.Tensp
                                    </div>

                                    @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                    {
                                        <div class="product__pride-oldPride">
                                            <span class="Price">
                                                <bdi>
                                                    @string.Format("{0:N0}", item.Giaban)
                                                    <span class="currencySymbol">₫</span>
                                                </bdi>
                                            </span>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div>
                                <div class="product__pride-newPride">
                                    <span class="Price">
                                        <bdi>
                                            @string.Format("{0:N0}", item.Giakhuyenmai)
                                            <span class="currencySymbol">₫</span>
                                        </bdi>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                }

            </div>

        </div>
    </div>
</div>
<!--end-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
  
    .allsalehot {
         padding: 10px 30px;
        margin: 0 auto; 
    }
    .rewiu1 img {
        width:100%;
        height:auto;
        box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
    }
    .rewiu {
        padding:20px 20px;
        margin-top:15px;
    }
    .rewiu1 {
        padding :16px 16px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
        border-radius:10px;
    }
    .body {
        width: 100%;   
        margin: 0 auto;
               
    }

    .body__mainTitle {
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 30px;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

     

        .body__mainTitle ~ p {
            line-height: 3rem;
            width: 80%;
        }

    .sortPrice > .pet-select {
        padding-right: 10px;
    }

    .col-lg-2_5 {
        margin-top: 30px;
    }
   
    .post2 {
        transition:transform 0.3s ease-in-out;
        margin-bottom: 20px;
    }
    .post2:hover {
        transform:scale(1.06);
    }

    .posts h6 {
        margin-top: 10px;
    }
   
   
    .bannerflow img{
        width:100%;
        height:auto;
    }
    /**/
    .image2 img {
        width: 100%;
        height: auto;
    }
    .content4 a {
        color:green;
    }
    .image3 img {
        margin-top: 5px;
        width: 100%;
        height: auto;
    }

    .image4 img {
        width: 100%;
        height: 540px;
    }

    .topbanchay img {
        width: 5%;
        height: auto;
    }

    .topbanchay {
        display: inline-block;
    }

    .sp img {
        width: 100%;
        height: auto;
    }

    .product__sale {
  background-color: red;
  border-radius:50%;
  
 padding:7px 7px;
}

    .Product1 {
        padding: 13px 13px;
    }

        .Product1 del {
            color: grey;
        }

    .sp span {
        color: red;
        font-weight: 600;
        margin-left: 12px;
    }

    .sp button {
        margin-top: 15px;
    }

    .sp {
        transition: transform 0.3s ease-in-out;
    }

        .sp:hover {
            transform: scale(1.04);
        }

    .discount-label {
        background-color: green;
        width: 50px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-weight: 500;
    }

    .content6 {
        padding: 12px 12px;
    }

    .managerhoa {
        padding: 10px 10px;
    }

    .image5 img {
        margin-top: 5px;
    }

    .theimage img {
        width: 100px;
        height: auto;
    }

    .image6 img {
        width: 100%;
        height: auto;
        padding: 10px 10px;
    }

    .mau img {
        width: 100%;
        height: auto;
    }

    .mau {
        height: auto;
        padding: 12px 12px;
        border: 1px solid #e9ecef;
        margin-top: 10px;
    }

    .mau {
        transition: transform 0.3s ease-in-out;
    }

        .mau p {
            color: green;
        }

        .mau:hover {
            transform: scale(1.04);
            background-color: #e9ecef;
            transition: 0.3s;
        }

    .content10 {
        padding: 25px 25px;
    }

    .posts img {
        width: 100%;
        height: auto;
    }

   
    .infoshop {
        padding: 20px 20px;
    }

    .info1 img {
        width: 100%;
        height: auto;
    }

    .info1 h5 {
        color: green;
    }

    .image7 img {
        width: 100%;
        height: 310px;
    }
    /**/
    .list-group-item {
        transition: background-color 0.3s, color 0.3s;
    }

        .list-group-item:hover {
            background-color: #dddddd;
           
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
       .title {
           font-weight:410;
        font-family: "Quicksand", sans-serif;
       }

   
</style>

